<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Processing OR Reporting">
    <databases>
      <database id="web">
        <patch:delete />
      </database>
    </databases>
    <scheduling>
      <agent type="Sitecore.Tasks.PublishAgent">
        <patch:delete />
      </agent>
    </scheduling>        
    <sites>
      <site name="website">
        <patch:delete />
      </site>
    </sites>
  </sitecore>
</configuration>