<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <search role:require="publishing">
      <configuration>
        <indexes>
          <index id="system">
            <patch:delete />
          </index>
        </indexes>
      </configuration>
    </search>
    <scheduling>
      <agent type="Sitecore.Tasks.CleanupPublishQueue, Sitecore.Kernel">
        <patch:delete />
      </agent>
      <agent type="Sitecore.Tasks.CleanupPublishQueue, Sitecore.Kernel" method="Run" interval="04:00:00" role:require="publishing">
        <DaysToKeep>30</DaysToKeep>
      </agent>
      <agent type="Sitecore.Tasks.PublishAgent">
        <patch:delete />
      </agent>
      <agent type="Sitecore.Tasks.PublishAgent" method="Run" interval="00:00:00" role:require="publishing">
        <param desc="source database">master</param>
        <param desc="target database">web</param>
        <param desc="mode (full or smart or incremental)">incremental</param>
        <param desc="languages">en, da</param>
      </agent>      
    </scheduling>    
  </sitecore>
</configuration>