<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone OR Processing">
    <aggregation>      
      <module type="Sitecore.Analytics.Aggregation.AggregationModule">
        <BackgroundServices>
          <aggregator>
            <Interval>0.00:00:1</Interval>
            <MaxThreads>4</MaxThreads>
          </aggregator>
          <contactProcessing>
            <Interval>0.00:00:1</Interval>
            <MaxThreads>4</MaxThreads>
          </contactProcessing>
          <rebuild>
            <Interval>0.00:00:15</Interval>
            <MaxThreads>1</MaxThreads>
          </rebuild>
          <history>
            <Interval>0.00:00:15</Interval>
            <MaxThreads>1</MaxThreads>
          </history>
          <historyCompletionCheck>
            <Interval>0.00:00:15</Interval>
            <MaxThreads>1</MaxThreads>
          </historyCompletionCheck>
        </BackgroundServices>
      </module>
    </aggregation>
  </sitecore>
</configuration>