<!--

Purpose: This include file configures Campaign Creator Web API.

You should leave this file enabled for the instances where you use Campaign Creator services (e. g. Content Management instance).

-->
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone OR ContentDelivery OR ContentManagement OR Processing OR Reporting">
    <api>
      <services>
        <configuration>
          <!-- Grant permissions to Campaign Creator controllers -->
          <allowedControllers hint="list:AddController">
            <allowedController desc="CampaignController">Sitecore.Marketing.Campaigns.Services.Controllers.CampaignController, Sitecore.Marketing.Campaigns.Services</allowedController>
            <allowedController desc="ClassificationsController">Sitecore.Marketing.Campaigns.Services.Controllers.ClassificationsController, Sitecore.Marketing.Campaigns.Services</allowedController>
            <allowedController desc="ExportCampaignsController">Sitecore.Marketing.Campaigns.Services.Controllers.ExportCampaignsController, Sitecore.Marketing.Campaigns.Services</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>