*.pubxml
*.suo
*.user
src/.vs/
src/Sitecore.Configuration.Roles.UnitTests/bin/
src/Sitecore.Configuration.Roles.UnitTests/obj/
src/Sitecore.Configuration.Roles/bin/
src/Sitecore.Configuration.Roles/obj/
src/Website/bin/
src/Website/obj/
src/packages/
src/TestResults/
src/Transform.UnitTests/bin/
src/Transform.UnitTests/obj/
src/Transform/bin/
src/Transform/obj/
