<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- Content of include config files is added to web.config in alphabetical order.
         SPEAK-dependent components may try to extend SPEAK configuration before it has been added to web.config.
         This file is created to be sure that its content is added to web.config before another SPEAK-dependent components. -->
    
    <pipelines>

      <speak.client.addBinding>
        <processor type="Sitecore.Web.Pipelines.AddBindings.AddConverterBinding, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.AddBindings.AddSimpleBinding, Sitecore.Speak.Client" />
      </speak.client.addBinding>

      <speak.client.getClick>
        <processor type="Sitecore.Web.Pipelines.GetClick.HandleClick, Sitecore.Speak.Client" />
      </speak.client.getClick>

      <speak.client.getControlId>
        <processor type="Sitecore.Web.Pipelines.GetControlId.HandleEmptyControlId, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetControlId.HandleInvalidId, Sitecore.Speak.Client" />
      </speak.client.getControlId>

      <speak.client.getOverlays>
        <processor type="Sitecore.Web.Pipelines.GetOverlays.GetWebConfigOverlays, Sitecore.Speak.Client">
          <!--
          Example of how to add <overlay> definitions:
          <overlays hint="raw:AddOverlay">
            <overlay url="/sitecore/shell/client/Speak/Assets/Overlay.js" />
          </overlays>
          -->
        </processor>
      </speak.client.getOverlays>

      <speak.client.getPageScripts>
        <processor type="Sitecore.Web.Pipelines.GetPageScripts.GetFileNames, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetPageScripts.Minify, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetPageScripts.BuildScripts, Sitecore.Speak.Client" />
      </speak.client.getPageScripts>

      <speak.client.getPageStylesheets>
        <processor type="Sitecore.Web.Pipelines.GetPageStylesheets.GetVersionStyles, Sitecore.Speak.Client">
          <stylesheets hint="raw:AddStylesheet">
            <stylesheet version="1" path="/sitecore/shell/client/Speak/Assets/css/speak-default-theme.css" />
          </stylesheets>
        </processor>
        <processor type="Sitecore.Web.Pipelines.GetPageStylesheets.GetLayoutStyles, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetPageStylesheets.GetFileNames, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetPageStylesheets.GetTheme, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetPageStylesheets.GetSubthemes, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetPageStylesheets.Minify, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetPageStylesheets.BuildStylesheets, Sitecore.Speak.Client" />
      </speak.client.getPageStylesheets>

      <speak.client.getStyle>
        <processor type="Sitecore.Web.Pipelines.GetStyle.Margin, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetStyle.Padding, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetStyle.Border, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.GetStyle.IsVisible, Sitecore.Speak.Client" />
      </speak.client.getStyle>

      <speak.client.initialize.layout>
        <processor type="Sitecore.Web.Pipelines.InitializeSpeakLayout.CheckUserAccess, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.InitializeSpeakLayout.SetDisplayMode, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.InitializeSpeakLayout.SetAntiForgeryToken, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.InitializeSpeakLayout.DisableAnalytics, Sitecore.Speak.Client" />
      </speak.client.initialize.layout>

      <speak.client.parseRenderingParameter>
        <processor type="Sitecore.Web.Pipelines.SetAttribute.ParseDataBinding, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.SetAttribute.ParseContextItemValue, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.SetAttribute.ParseFormValue, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.SetAttribute.ParseQueryStringValue, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.SetAttribute.ParseSessionValue, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.SetAttribute.ParseAppModelValue, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.SetAttribute.ParsePageModelValue, Sitecore.Speak.Client" />
      </speak.client.parseRenderingParameter>

      <speak.client.resolveRequire>
        <processor type="Sitecore.Web.Pipelines.ResolveRequire.CustomHandler, Sitecore.Speak.Client" />
      </speak.client.resolveRequire>

      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Main, Sitecore.Speak.Client" />
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Rule, Sitecore.Speak.Client" />
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Pipeline, Sitecore.Speak.Client" />
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Bundle, Sitecore.Speak.Client">
          <allowedFiles hint="raw:AddAllowedFile">
            <allowedFile folder="/sitecore/shell/client/Speak/Assets" />
            <allowedFile folder="/sitecore/shell/client" extensions="js,css" />
            <allowedFile folder="/-/speak/v1/" extensions="js" />
          </allowedFiles>
        </processor>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.ResolveBaseComponent, Sitecore.Speak.Client" />
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Speak/Assets" deep="true" category="assets" pattern="*.js" />
            <source folder="/sitecore/shell/client/Speak/Layouts/Renderings" deep="true" category="controls" pattern="*.js,*.css" />
            <source folder="/sitecore/shell/client" deep="true" category="client" pattern="*.js,*.css" />
            <source folder="/sitecore/shell/client/speak/layouts/Renderings/Resources/Rules/ConditionsAndActions" deep="true" category="rules" pattern="*.js" />
            <source folder="/sitecore/shell/client/Business Component Library/Layouts/Renderings" deep="true" category="business" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>

      <speak.client.buildMainJS>
        <processor type="Sitecore.Web.Pipelines.BuildMainJs.GetAllFiles, Sitecore.Speak.Client">
          <files hint="raw:AddMainJs">
            <file version="2" path="/sitecore/shell/client/Speak/Assets/lib/core/2.0/speak-require-config-2.json" />
          </files>
        </processor>
        <processor type="Sitecore.Web.Pipelines.BuildMainJs.ParseContent, Sitecore.Speak.Client" />
        <processor type="Sitecore.Web.Pipelines.BuildMainJs.BuildBundleList, Sitecore.Speak.Client" />
      </speak.client.buildMainJS>

      <speak.logout argsType="Sitecore.Pipelines.Logout.LogoutArgs">
        <processor mode="on" type="Sitecore.Pipelines.Logout.ClearCache, Sitecore.Kernel"/>
        <processor mode="on" type="Sitecore.Pipelines.Logout.ClearSession, Sitecore.Kernel"/>
        <processor mode="on" type="Sitecore.Pipelines.Logout.RemoveTicket, Sitecore.Kernel"/>
      </speak.logout>

    </pipelines>
    
  </sitecore>
</configuration>
