<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone OR ContentManagement">
    <mvc>
      <precompilation>
        <assemblies>
          <assemblyIdentity name="Sitecore.Speak.Components.Web" />
        </assemblies>
      </precompilation>
    </mvc>
  </sitecore>
</configuration>