<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  SPEAK COMPONENT KNOCKOUT PRESENTER
            The name of the Knockout Presenter.
            Default: scKoPresenter
      -->
      <setting name="Speak.Components.KnockoutPresenter" value="scKoPresenter"/>

      <!--  SPEAK COMPONENT SPEAK PRESENTER
            The name of the SPEAK Presenter.
            Default: scSpeakPresenter
      -->
      <setting name="Speak.Components.SpeakPresenter" value="scSpeakPresenter"/>

      <!--  SPEAK HTML MINIFY SCRIPTS
            Indicates whether scripts should be bundled and minified.
            Default: false
      -->
      <setting name="Speak.Html.MinifyScripts" value="false"/>
      
      <!--  SPEAK HTML MINIFY STYLESHEETS
            Indicates whether stylesheets should be bundled and minified.
            Default: false
      -->
      <setting name="Speak.Html.MinifyStylesheets" value="false"/>
 
      <!--  SPEAK HTML REQUIRE JS CUSTOM HANDLER
            Specifies the prefix that should trigger the HTTP request customer handler (see the customHandlers section in the web.config file).
            Default: /-/speak/v1/
      -->
      <setting name="Speak.Html.RequireJsCustomHandler" value="/-/speak/v1/"/>

      <!--  SPEAK HTML REQUIRE JS CONFIG FILE
            Specifies the path of the main.js config version SPEAK 2.0 file which configures Require.js.
            Default: /-/speak/v1/assets/main-config.js
      -->
      <setting name="Speak.Html.RequireJsConfigPath" value="/-/speak/v1/assets/main-config.js"/>

      <!--  SPEAK HTML REQUIRE JS MAIN FILE
            Specifies the path of the main.js version SPEAK 2.0 file which configures Require.js.
            Default: /-/speak/v1/assets/main-2.0.js
      -->
      <setting name="Speak.Html.RequireJsMainFile" value="/-/speak/v1/assets/main-2.0.js"/>

      <!--  SPEAK HTML REQUIRE JS MAIN FILE
            Specifies the path of the minfied SPEAK version for 2.0 of main.js file which configures Require.js.
            Default: /-/speak/v1/assets/main-2.0.min.js
      -->
      <setting name="Speak.Html.RequireJsMainFileMinified" value="/-/speak/v1/assets/main-2.0.min.js"/>

      <!--  SPEAK BINDING JS FILE
            Specifies the path of the binding plugin required by SPEAK to apply bindings.
            Default: /sitecore/shell/client/Speak/Assets/lib/core/2.0/deps/scBindingPlugin.js
      -->
      <setting name="Speak.Html.BindingPluginFile" value="/sitecore/shell/client/Speak/Assets/lib/core/2.0/deps/scBindingPlugin.js"/>

      <!--  SPEAK BINDING JS FILE MINIFIED
            Specifies the path of the binding plugin minified required by SPEAK to apply bindings.
            Default: /sitecore/shell/client/Speak/Assets/lib/core/2.0/deps/scBindingPlugin.min.js
      -->
      <setting name="Speak.Html.BindingPluginFileMinified" value="/sitecore/shell/client/Speak/Assets/lib/core/2.0/deps/scBindingPlugin.min.js"/>
      
      <!--  THE MAIN FILE for the CMS 7.1
            Specifies the path of the main.js file which configures Require.js.
            Default: /-/speak/v1/assets/main.js
      -->
      <setting name="Speak.Html.RequireJSBackwardCompatibilityFile" value="/-/speak/v1/assets/main.js"/>

      <!--  SPEAK REQUIRE WAIT SECONDS
            Overrides the Require.js waitSeconds setting
            Default: 30
      -->
      <setting name="Speak.Html.RequireJsWaitSeconds" value="30"/>

      <!--  SPEAK HTTPCACHING ETAGENABLED
            Determines if the Http Cache Header If-None-Match should be checked.
            If the value is true, the etag is set to every item and file touched
            during the request.
            Default: false
      -->
      <setting name="Speak.HttpCaching.ETagEnabled" value="false"/>
      
      <!--  SPEAK HTTPCACHING SETMAXAGE
            Determines if the Http Cache Header SetMaxAge should be set.
            If the value is true, the header is set to 0 seconds, making the
            browser request the file from the server every time. If value is 
            false, the file is retrieved from the browser cache.
            Default: true
      -->
      <setting name="Speak.HttpCaching.SetMaxAge" value="true"/>
      
      <!--  IS PRODUCTION MODE
            Indicates whether the system is in production mode or not.
            Default: false
      -->      
      <setting name="IsProductionMode" value="false" />

      <!--  MASTER RENDERING ID
            The item ID of the Master rendering, which can be expanded.
            Default: {5AA4AD6B-1228-45C1-B4C3-B1847AE60FA2}
      -->      
      <setting name="Speak.Mvc.MasterRenderingID" value="{3DC89CCA-D94A-4C46-A16D-AF6D0CB7E721}" />

      <!--  LaunchPad ItemId  
            The LaunchPad item ID for the GobalLogo usage.
            Default: {6B846FBD-8549-4C91-AE6B-18286EFE82D2}
      -->      
      <setting name="Speak.GobalLogo.LaunchPadId" value="{6B846FBD-8549-4C91-AE6B-18286EFE82D2}" />
    </settings>

    <customHandlers>
      <handler trigger="/-/speak/v1/" handler="sitecore_speak.ashx" />
    </customHandlers>
    
    <pipelines>
      <!-- Http Request -->
      <preprocessRequest>
        <processor type="Sitecore.Pipelines.HttpRequest.ResolveClientPath, Sitecore.Speak.Client" />
      </preprocessRequest>

      <mvc.buildPageDefinition>
        <processor type="Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessMasterRendering, Sitecore.Speak.Client"/>
      </mvc.buildPageDefinition>
    </pipelines>

    <speak>

    </speak>
    
  </sitecore>
</configuration>