<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file extends the initialize pipeline with a new processor that registers the data model extensions required by the processing
subsystem when aggregating engagement automation data from the collection database.

In most cases, you should leave this file enabled. This ensures that the server can register things for aggregation, even if the server does not run
any aggregation tasks itself. 

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Analytics.Automation.Pipelines.Initialize.RegisterDataModelExtensions, Sitecore.Analytics.Automation.MongoDB" patch:after="processor[@type='Sitecore.Analytics.Outcome.Pipelines.Initialize.RegisterDataModelExtensions, Sitecore.Analytics.Outcome']"/>
      </initialize>
    </pipelines>

  </sitecore>
</configuration>