<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
<sitecore role:require="Standalone OR ContentDelivery OR ContentManagement OR Processing OR Reporting">
<pipelines>
 <group name="itemProvider" groupName="itemProvider">
      <pipelines>
        <saveItem help="Processors should derive from Sitecore.Pipelines.ItemProvider.SaveItem.SaveItemProcessor.">
          <processor type="Sitecore.Pipelines.ItemProvider.SaveItem.SkipIfNoModifications, Sitecore.Kernel"/>
          <processor type="Sitecore.Pipelines.ItemProvider.SaveItem.MapToRealItem, Sitecore.Kernel" resolve="true"/>
          <processor type="Sitecore.Pipelines.ItemProvider.SaveItem.ValidateCloneSourceModifications, Sitecore.Kernel" resolve="true"/>
          <processor type="Sitecore.Pipelines.ItemProvider.SaveItem.EnsureVersionExists, Sitecore.Kernel" resolve="true"/>
          <processor type="Sitecore.Pipelines.ItemProvider.SaveItem.TriggerDataEngine, Sitecore.Kernel"/>
          <processor type="Sitecore.Pipelines.ItemProvider.SaveItem.UpdateDependantRevisions, Sitecore.Kernel" resolve="true"/>
          <processor type="Sitecore.Pipelines.ItemProvider.SaveItem.ReloadItem, Sitecore.Kernel"/>
        </saveItem>
        <copyItem help="Processors should derive from Sitecore.Pipelines.ItemProvider.CopyItem.CopyItemProcessor.">
          <processor type="Sitecore.Pipelines.ItemProvider.CopyItem.EnsureAllowedToCopy, Sitecore.Kernel" />
          <processor type="Sitecore.Pipelines.ItemProvider.CopyItem.PerformCopy, Sitecore.Kernel" resolve="true" />
          <processor type="Sitecore.Pipelines.ItemProvider.CopyItem.MapToVirtual, Sitecore.Kernel" resolve="true"/>
          <processor type="Sitecore.Pipelines.ItemProvider.CopyItem.ApplySecurity, Sitecore.Kernel" />          
        </copyItem>
      </pipelines>
    </group>
</pipelines>    
</sitecore>
</configuration>