<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  ENTITY FACTORY
          Creates an entity by entity name. Allows to substitute default entity with extended one.
    -->
    <entityFactory type="Sitecore.Commerce.Entities.EntityFactory, Sitecore.Commerce" singleInstance="true" />

    <eaPlanProvider type="Sitecore.Commerce.Multishop.EaPlanProvider, Sitecore.Commerce" singleInstance="true" />

    <contactFactory type="Sitecore.Commerce.Contacts.ContactFactory, Sitecore.Commerce" />

    <itemClassificationService type="Sitecore.Commerce.Products.ItemClassificationService, Sitecore.Commerce" singleInstance="true" />

    <commerceContext type="Sitecore.Commerce.Multishop.CommerceContextBase, Sitecore.Commerce" />

    <shopProvider type="Sitecore.Commerce.Providers.ShopProvider, Sitecore.Commerce" singleInstance="true"/>

    <authenticationTokenProvider type="Sitecore.Commerce.Providers.AuthenticationTokenProvider, Sitecore.Commerce" singleInstance="true"/>

    <!-- Commonly shared Commerce entities -->
    <commerce.Entities>
      <Party type="Sitecore.Commerce.Entities.Party, Sitecore.Commerce" />
      <SystemMessage type="Sitecore.Commerce.Services.SystemMessage, Sitecore.Commerce" />
      <Shop type="Sitecore.Commerce.Entities.Shop, Sitecore.Commerce" />
      <AuthenticationToken type="Sitecore.Commerce.Entities.AuthenticationToken, Sitecore.Commerce" />
    </commerce.Entities>

    <commerce.analyticsData>
      <CartLinesAnalyticsData type="Sitecore.Commerce.AnalyticsData.CartLinesAnalyticsData, Sitecore.Commerce"/>
      <CartLineAnalyticsData type="Sitecore.Commerce.AnalyticsData.CartLineAnalyticsData, Sitecore.Commerce"/>
      <CartAnalyticsData type="Sitecore.Commerce.AnalyticsData.CartAnalyticsData, Sitecore.Commerce"/>
      <CartResumedAnalyticsData type="Sitecore.Commerce.AnalyticsData.CartResumedAnalyticsData, Sitecore.Commerce"/>
      <CartUpdatedAnalyticsData type="Sitecore.Commerce.AnalyticsData.CartUpdatedAnalyticsData, Sitecore.Commerce"/>
      <CustomerAnalyticsData type="Sitecore.Commerce.AnalyticsData.CustomerAnalyticsData, Sitecore.Commerce"/>
      <UserAnalyticsData type="Sitecore.Commerce.AnalyticsData.UserAnalyticsData, Sitecore.Commerce"/>
      <CultureChosenAnalyticsData type="Sitecore.Commerce.AnalyticsData.CultureChosenAnalyticsData, Sitecore.Commerce"/>
      <ProductsAreBackInStockAnalyticsData type="Sitecore.Commerce.AnalyticsData.ProductsAreBackInStockAnalyticsData, Sitecore.Commerce"/>
      <BackInStockUnsubscriptionAnalyticsData type="Sitecore.Commerce.AnalyticsData.BackInStockUnsubscriptionAnalyticsData, Sitecore.Commerce"/>
      <VisitedProductStockStatusAnalyticsData type="Sitecore.Commerce.AnalyticsData.VisitedProductStockStatusAnalyticsData, Sitecore.Commerce"/>
      <BackInStockSubscriptionAnalyticsData type="Sitecore.Commerce.AnalyticsData.BackInStockSubscriptionAnalyticsData, Sitecore.Commerce"/>
      <LoyaltyProgramJoinedGoalAnalyticsData type="Sitecore.Commerce.AnalyticsData.LoyaltyProgramJoinedGoalAnalyticsData, Sitecore.Commerce"/>
      <VisitorViewedOrderDetailsAnalyticsData type="Sitecore.Commerce.AnalyticsData.VisitorViewedOrderDetailsAnalyticsData, Sitecore.Commerce"/>
      <VisitorViewedOrderHistoryAnalyticsData type="Sitecore.Commerce.AnalyticsData.VisitorViewedOrderHistoryAnalyticsData, Sitecore.Commerce"/>
      <AddToCartStockStatusAnalyticsData type="Sitecore.Commerce.AnalyticsData.AddToCartStockStatusAnalyticsData, Sitecore.Commerce"/>
      <CartLineStockStatusAnalyticsData type="Sitecore.Commerce.AnalyticsData.CartLineStockStatusAnalyticsData, Sitecore.Commerce"/>
      <OrderStatusChangedAnalyticsData type="Sitecore.Commerce.AnalyticsData.OrderStatusChangedAnalyticsData, Sitecore.Commerce"/>
      <GiftCardPurchaseAnalyticsData type="Sitecore.Commerce.AnalyticsData.GiftCardPurchaseAnalyticsData, Sitecore.Commerce"/>
      <LoyaltyCardPurchaseAnalyticsData type="Sitecore.Commerce.AnalyticsData.LoyaltyCardPurchaseAnalyticsData, Sitecore.Commerce"/>
      <VisitorCancelOrderAnalyticsData type="Sitecore.Commerce.AnalyticsData.VisitorCancelOrderAnalyticsData, Sitecore.Commerce"/>
      <WishListCreatedAnalyticsData type="Sitecore.Commerce.AnalyticsData.WishListCreatedAnalyticsData, Sitecore.Commerce"/>
      <WishListDeletedAnalyticsData type="Sitecore.Commerce.AnalyticsData.WishListDeletedAnalyticsData, Sitecore.Commerce"/>
      <WishListsEmailedAnalyticsData type="Sitecore.Commerce.AnalyticsData.WishListsEmailedAnalyticsData, Sitecore.Commerce"/>
      <WishListAnalyticsData type="Sitecore.Commerce.AnalyticsData.WishListAnalyticsData, Sitecore.Commerce"/>
      <WishListPrintedAnalyticsData type="Sitecore.Commerce.AnalyticsData.WishListPrintedAnalyticsData, Sitecore.Commerce"/>
      <LinesRemovedFromWishListAnalyticsData type="Sitecore.Commerce.AnalyticsData.LinesRemovedFromWishListAnalyticsData, Sitecore.Commerce"/>
      <WishListLineAnalyticsData type="Sitecore.Commerce.AnalyticsData.WishListLineAnalyticsData, Sitecore.Commerce"/>
      <LinesUpdatedOnWishListAnalyticsData type="Sitecore.Commerce.AnalyticsData.LinesUpdatedOnWishListAnalyticsData, Sitecore.Commerce"/>
      <FacetAppliedAnalyticsData type="Sitecore.Commerce.AnalyticsData.FacetAppliedAnalyticsData, Sitecore.Commerce"/>
      <ProductSortingAnalyticsData type="Sitecore.Commerce.AnalyticsData.ProductSortingAnalyticsData, Sitecore.Commerce"/>
      <SearchAnalyticsData type="Sitecore.Commerce.AnalyticsData.SearchAnalyticsData, Sitecore.Commerce"/>
      <VisitedCategoryPageAnalyticsData type="Sitecore.Commerce.AnalyticsData.VisitedCategoryPageAnalyticsData, Sitecore.Commerce"/>
      <VisitedProductDetailsPageAnalyticsData type="Sitecore.Commerce.AnalyticsData.VisitedProductDetailsPageAnalyticsData, Sitecore.Commerce"/>
      <OrderGoalAnalyticsData type="Sitecore.Commerce.AnalyticsData.OrderGoalAnalyticsData, Sitecore.Commerce"/>
      <LinesAddedToWishListAnalyticsData type="Sitecore.Commerce.AnalyticsData.LinesAddedToWishListAnalyticsData, Sitecore.Commerce"/>
      <CurrencyChosenAnalyticsData type="Sitecore.Commerce.AnalyticsData.CurrencyChosenAnalyticsData, Sitecore.Commerce"/>
      <OfflineOrdersSynchronizedAnalyticsData type="Sitecore.Commerce.AnalyticsData.OfflineOrdersSynchronizedAnalyticsData, Sitecore.Commerce"/>
    </commerce.analyticsData>

    <commerce.outcomeData>
      <SubmittedOrderOutcomeData type="Sitecore.Commerce.OutcomeData.SubmittedOrderOutcomeData, Sitecore.Commerce"/>
      <AbandonedCartOutcomeData type="Sitecore.Commerce.OutcomeData.AbandonedCartOutcomeData, Sitecore.Commerce"/>
    </commerce.outcomeData>

    <settings>
      <!-- Value can be: Base, Custom, Both -->
      <setting name="Commerce.Analytics.EntitiesIncludedInXDB" value="Base"/>
    </settings>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Commerce.Pipelines.RegisterConnectTypesWithMongo, Sitecore.Commerce"/>
      </initialize>
    </pipelines>

  </sitecore>
</configuration>