<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- Enable this processor to precompile MVC views. This allows SPEAK applications
           to start up faster by precompiling the views at start up (in a separate thread).
           Paths: Pipe (|) separated list of folders to precompile (recursively).           
      <initialize>
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <Paths>/sitecore/shell/client/BCL2</Paths>
        </processor>
      </initialize>  
      -->

      <speak.client.resolveScript>
        <processor type="Sitecore.Speak.Components.Pipelines.ResolveScript.Rule, Sitecore.Speak.Components"  patch:before="processor[@type='Sitecore.Resources.Pipelines.ResolveScript.Rule, Sitecore.Speak.Client']"/>
        <processor type="Sitecore.Speak.Components.Pipelines.ResolveScript.Pipeline, Sitecore.Speak.Components"  patch:before="processor[@type='Sitecore.Resources.Pipelines.ResolveScript.Pipeline, Sitecore.Speak.Client']"/>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Business Component Library/version 2/Layouts/Renderings" deep="true" category="components" pattern="*.js,*.css" />
            <source folder="/sitecore/shell/client/Business Component Library/version 2/Content/Guidance/Common/Layouts/Renderings" deep="true" category="guidance" pattern="*.js,*.css" />
            <source folder="/sitecore/shell/client/Business Component Library/version 2/Layouts/Renderings/Resources/Rules/ConditionsAndActions" deep="true" category="rule" pattern="*.js" />            
          </sources>
        </processor>
      </speak.client.resolveScript>

      <speak.client.getPageStylesheets>
        <processor type="Sitecore.Web.Pipelines.GetPageStylesheets.GetVersionStyles, Sitecore.Speak.Client">
          <stylesheets hint="raw:AddStylesheet">
            <stylesheet version="2" path="/sitecore/shell/client/Business Component Library/version 2/Assets/stylesheets/Speak Components - DefaultTheme/speak-components.css" />
          </stylesheets>
        </processor>
      </speak.client.getPageStylesheets>

      <speak.client.buildMainJS>
        <processor type="Sitecore.Web.Pipelines.BuildMainJs.GetAllFiles, Sitecore.Speak.Client">
          <files hint="raw:AddMainJs">
            <file version="2" path="/sitecore/shell/client/Business Component Library/version 2/Assets/lib/bcl-deps-config.json" />
          </files>
        </processor>
      </speak.client.buildMainJS>

    </pipelines>


  </sitecore>
</configuration>