<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures compatibility features in the Analytics subsystem. This file should always be enabled.

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <compatibility>

      <trafficTypeConverter type="Sitecore.Analytics.Data.ConfigurationBasedTrafficTypeConverter, Sitecore.Analytics" />

      <trafficType default="{00000000-0000-0000-0000-000000000000}">
        <add trafficType="15" channel="{FB8FA660-0A07-4EE9-A9F4-930FC5D10AEC}" />
        <add trafficType="10" channel="{B979A670-5AAF-4E63-94AC-C3C3E5BFBE84}" />
        <add trafficType="20" channel="{B418E4F2-1013-4B42-A053-B6D4DCA988BF}" />
        <add trafficType="30" channel="{44DD9FF5-44B2-4C59-8DF8-849E400F4B6B}" />
        <add trafficType="31" channel="{44DD9FF5-44B2-4C59-8DF8-849E400F4B6B}" />
        <add trafficType="32" channel="{44DD9FF5-44B2-4C59-8DF8-849E400F4B6B}" />
        <add trafficType="33" channel="{1DA15267-B0DB-4BE1-B44F-E57C2EEB8A6B}" />
        <add trafficType="34" channel="{1DA15267-B0DB-4BE1-B44F-E57C2EEB8A6B}" />
        <add trafficType="35" channel="{62D19735-E898-4FF5-B53A-13B02D3B8D6F}" />
        <add trafficType="36" channel="{44DD9FF5-44B2-4C59-8DF8-849E400F4B6B}" />
        <add trafficType="40" channel="{B2747066-06F8-4E0B-9EA7-64D8859A119A}" />
        <add trafficType="50" channel="{52B75873-4CE0-4E98-B63A-B535739E6180}" />
        <add trafficType="90" channel="{B5234879-DFFC-47AF-8267-59D4D3DF6226}" />
      </trafficType>

    </compatibility>
  </sitecore>
</configuration>
