<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures Marketing platfrom definition management module.

In most cases, you should leave this file enabled.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
    </pipelines>
    <marketingDefinitions>
      <asset>
        <definitionManager>
          <param desc="repository">
            <patch:attribute name="ref">marketingDefinitions/asset/repositories/$(marketingDefinitions.repository)</patch:attribute>
          </param>
        </definitionManager>

        <repositories>
          <item type="Sitecore.Marketing.Definitions.MarketingAssets.Data.ItemDb.MarketingAssetDefinitionItemRepository, Sitecore.Marketing.Definitions.MarketingAssets.Repositories" singleInstance="true">
            <param desc="databaseName" ref="marketingDefinitions/itemRepositoriesDatabase" />
            <param desc="indexName">sitecore_marketing_asset_index_master</param>
          </item>
          <rdb type="Sitecore.Marketing.Definitions.MarketingAssets.Data.Rdb.MarketingAssetDefinitionRdbRepository, Sitecore.Marketing.Definitions.MarketingAssets.Repositories" singleInstance="true">
            <param desc="connectionStringName">reporting</param>
            <param desc="cache" type="Sitecore.Analytics.Reporting.DefinitionData.Marketing.RdbCache.DefinitionCache`1[[Sitecore.Marketing.Definitions.MarketingAssets.Data.MarketingAssetDefinitionRecord, Sitecore.Marketing]], Sitecore.Analytics">
              <param desc="name">marketing.rdb.asset</param>
              <param desc="maxSize" ref="marketingDefinitions/rdbCacheSize" />
              <param desc="expirationInSeconds" ref="marketingDefinitions/rdbCacheExpirationInSeconds" />
            </param>
            <param desc="availableCulturesCache" type="Sitecore.Analytics.Reporting.DefinitionData.Marketing.RdbCache.Cache`2[[Sitecore.Data.ID, Sitecore.Kernel],[System.Collections.Generic.IReadOnlyList`1[[System.Globalization.CultureInfo]]]], Sitecore.Analytics">
              <param desc="name">marketing.rdb.asset.cultures</param>
              <param desc="maxSize" ref="marketingDefinitions/rdbCacheSize" />
              <param desc="expirationInSeconds" ref="marketingDefinitions/rdbCacheExpirationInSeconds" />
            </param>
          </rdb>
        </repositories>
      </asset>
    </marketingDefinitions>

  </sitecore>
</configuration>