<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <appDependencies>
      <xdb>
        <app id="{BCDEDA7A-D6DC-4D2F-9570-7D7F89AAAA0B}" name="Experience Analytics"/>
      </xdb>
    </appDependencies>
    <experienceAnalytics>
        <aggregation><patch:attribute name="enabled" value="false"/></aggregation>
        <client><patch:attribute name="enabled" value="false"/></client>
        <api><patch:attribute name="enabled" value="false"/></api>
        <reduce><patch:attribute name="enabled" value="false"/></reduce>
        <deployment><patch:attribute name="enabled" value="false"/></deployment>
        <reAggregation><patch:attribute name="enabled" value="false"/></reAggregation>
    </experienceAnalytics>
  </sitecore>
</configuration>