<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <mvc>
      <precompilation>
        <assemblies>
          <assemblyIdentity name="Sitecore.Speak.Components.Web" />
        </assemblies>
      </precompilation>
    </mvc>
  </sitecore>
</configuration>