<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the processing subsystem of the Sitecore Experience Database (xDB). 
It defines the API that you use to register tasks in the processing Task Manager, regardless of whether this server is configured to perform processing
tasks or not.

In most cases, you should leave this file enabled. If the current server does not need to perform processing tasks, you should disable the
Sitecore.Analytics.Processing.Services.config and Sitecore.EngagementAutomation.Processing.Services.config files. 

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>

      <copyAutomationStates>
        <processor type="Sitecore.Analytics.Automation.Pipelines.CopyAutomationStates.CopyAutomationStates, Sitecore.Analytics.Automation" >
          <TaskManager ref="processing/taskManager"/>
        </processor>
      </copyAutomationStates>
      
      <updateAutomationStates>
        <processor type="Sitecore.Analytics.Automation.Pipelines.UpdateAutomationStates.UpdateAutomationStates, Sitecore.Analytics.Automation" >
          <TaskManager ref="processing/taskManager"/>
        </processor>
      </updateAutomationStates>

    </pipelines>
  </sitecore>
</configuration>