<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file launches the background services that aggregate engagement automation data from the collection database 
before it is stored in the reporting database for use by Sitecore reporting applications.

If the current server does not need to perform aggregation tasks, you can rename this config file and the
Sitecore.Analytics.Processing.Aggregation.Services.config file so that they have a ".disabled" extension.

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <aggregation>

      <!-- Automation Aggregation Subsystem: -->
      <automationAggregationSubsystem type="Sitecore.Analytics.Core.Subsystem" singleInstance="true">
        <BackgroundServices hint="list:Add">
          <aggregator type="Sitecore.Analytics.Core.BackgroundService">
            <param desc="agentName">aggregation/automationAggregator</param>
            <Interval>0.00:00:15</Interval>
            <MaxThreads>3</MaxThreads>
          </aggregator>
          <rangeManager type="Sitecore.Analytics.Core.BackgroundService">
            <param desc="agentName">aggregation/automationRangeManager</param>
            <Interval>0.00:00:15</Interval>
            <MaxThreads>1</MaxThreads>
          </rangeManager>
          <cleanup type="Sitecore.Analytics.Core.BackgroundService">
            <param desc="agentName">aggregation/automationCleanupService</param>
            <Interval>0.00:00:15</Interval>
            <MaxThreads>1</MaxThreads>
          </cleanup>
        </BackgroundServices>
      </automationAggregationSubsystem>

      <!-- Configure the automation live aggregator agent: -->
      <automationAggregator type="Sitecore.Analytics.Automation.Aggregation.Data.Processing.AggregatorAgent, Sitecore.Analytics.Automation.Aggregation">
        <Dispatcher ref="aggregation/dispatchers/automationWorkDispatcher"/>
      </automationAggregator>

      <!-- Configure the automation live aggregator agent: -->
      <automationCleanupService type="Sitecore.Analytics.Automation.Aggregation.Data.Processing.CleanupAgent, Sitecore.Analytics.Automation.Aggregation">
        <Context ref="aggregation/aggregationContexts/automation/live"/>
      </automationCleanupService>

      <!-- Configure the automation live aggregator agent: -->
      <automationRangeManager type="Sitecore.Analytics.Automation.Aggregation.Data.Processing.RangeManagerAgent, Sitecore.Analytics.Automation.Aggregation">
        <RangeLength>0.00:00:30</RangeLength>
      </automationRangeManager>

      <dispatchers>
        <automationWorkDispatcher type="Sitecore.Analytics.Automation.Aggregation.AutomationWorkDispatcher, Sitecore.Analytics.Automation.Aggregation">
          <param desc="leaseDuration">0.00:00:15</param>
          <param desc="minimumRangeSize">10</param>
          <Context ref="aggregation/aggregationContexts/automation/live"/>
        </automationWorkDispatcher>
      </dispatchers>

    </aggregation>
    
    <hooks>
      <hook type="Sitecore.Analytics.Automation.Aggregation.SubsystemLoader, Sitecore.Analytics.Automation.Aggregation" patch:after="hook[@type='Sitecore.Analytics.Aggregation.AggregationLoader, Sitecore.Analytics.Aggregation']"/>
    </hooks>

  </sitecore>
</configuration>
