<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Path Analyzer component; a mechanism for analyzing
visitor paths through a website and evaluating the analytics values associated with those visits.
This include file contains configuration settings for the core Path Analyzer application

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- SETTINGS -->
    <settings>
      <!-- PATH ANALYZER - CACHING - TREE CACHE EXPIRATION
           Sets the absolute expiration on cached tree data.
           A value of 00:00:00 disables automatic expiration.

           Default value: 00:15:00 (15 minutes)
        -->
      <setting name="PathAnalyzer.Caching.TreeCacheExpiration" value="00:15:00" />

      <!-- PATH ANALYZER - AGGREGATION - MAP DEPLOY DATE OFFSET PADDING
           Controls additional padding when interaction's SaveDateTime is compared with map deploy date.
           The timespan built from the value of this setting is added to the map deploy date.
           When a map is being deployed, the DeployDate will be DateTime.UtcNow.Add(MapDeployDateOffsetPadding)
           Interaction data for the particular map will be processed if interaction.SaveDateTime > map.DeployDate
           Default value: 00:30:00 (30 minutes)
        -->
      <setting name="PathAnalyzer.Aggregation.MapDeployDateOffsetPadding" value="00:30:00" />

      <!-- PATH ANALYZER - AGGREGATION - COLLAPSE DUPLICATE RECORDS
           When sequences of records are being processed, collapse records with the same RecordId into one.
           Default value: true
        -->
      <setting name="PathAnalyzer.Aggregation.CollapseDuplicateRecords" value="true" />
      
      <!-- PATH ANALYZER - MAX STORED CONTACTS
           Sets the maximum count of stored contact IDs on nodes in the tree.
           Default value: 10
        -->
      <setting name="PathAnalyzer.MaxStoredContacts" value="10" />

      <!-- PATH ANALYZER - MAX NODES TO RETURN
           Sets the maximum number of child nodes that we can return from the server.
           Default value: 30
        -->
      <setting name="PathAnalyzer.MaxNodeCount" value="30" />

      <!-- PATH ANALYZER - PRUNING - MAX TREE DEPTH
           Specifies the maximum depth of trees. Tree node sequences will not be added beyond this depth.
        -->
      <setting name="PathAnalyzer.Pruning.MaxTreeDepth" value="20" />

      <!-- PATH ANALYZER - PRUNING - MAX TREE NODE COUNT
           A tree containing more nodes than the amount specified by this setting will be eligible for pruning.
        -->
      <setting name="PathAnalyzer.Pruning.MaxTreeNodeCount" value="10000" />

      <!-- PATH ANALYZER - PRUNING - VISIT COUNT THRESHOLD
           Specifies the visit count threshold using by the tree pruning process.
           Statistically insignificant nodes with subtree counts less than this threshold setting are eligible for pruning.
        -->
      <setting name="PathAnalyzer.Pruning.VisitCountThreshold" value="2" />

      <!-- PATH ANALYZER - REMOTE SERVICES - ENABLED
           Specifies the dictionary domain name containing Path Analyzer string resource definitions.
        -->
      <setting name="PathAnalyzer.Resources.DictionaryDomainName" value="core:PathAnalyzerDictionary" />
    </settings>
    <!-- PATH ANALYZER
         Define the types used by various Path Analyzer services.
    -->
    <pathAnalyzer>
      <!-- CONFIGURATION
           This service provides access to configuration settings used within Path Analyzer.
      -->
      <configuration type="Sitecore.PathAnalyzer.Configuration, Sitecore.PathAnalyzer" />

      <!-- CONTACT EVALUATOR
           This service is used to evaluate if given contact is relevant.
      -->
      <contactEvaluator type="Sitecore.PathAnalyzer.Pipelines.EvaluateContact.ContactEvaluator, Sitecore.PathAnalyzer" />

      <!-- CONTACT READER
           This service reads the set of contact data from contact ids.
      -->
      <contactReader type="Sitecore.PathAnalyzer.Data.DataReaders.ContactReader, Sitecore.PathAnalyzer">
        <repository ref="tracking/contactRepository" />
      </contactReader>

      <!-- DEFINITION SERVICE
           This service is used to perform CRUD operations against map definitions.
      -->
      <definitionService type="Sitecore.PathAnalyzer.Data.TreeDefinitionService, Sitecore.PathAnalyzer">
        <TreeDefinitionStores hint="list:AddDefinitionStore">
          <primary ref="pathAnalyzer/definitionStorage" />
          <secondary ref="pathAnalyzer/definitionStorageSecondary" />
        </TreeDefinitionStores>
      </definitionService>

      <!-- DEFINITION STORAGE
           This service is used to perform CRUD operations against a specific map definition data store. e.g. SQL Server.
      -->
      <definitionStorage type="Sitecore.PathAnalyzer.Data.Storage.SqlDefinitionStorage, Sitecore.PathAnalyzer">
        <param desc="connectionString">reporting</param>
      </definitionStorage>

      <!-- DEFINITION STORAGE - SECONDARY
           This service is used to perform CRUD operations against a specific map definition data store. e.g. SQL Server.
      -->
      <definitionStorageSecondary type="Sitecore.PathAnalyzer.Data.Storage.SqlDefinitionStorage, Sitecore.PathAnalyzer">
        <param desc="connectionString">reporting.secondary</param>
      </definitionStorageSecondary>

      <!-- ITEM REPOSITORY
            A service used to retrieve Sitecore items from Sitecore databases.
      -->
      <itemRepository type="Sitecore.PathAnalyzer.Data.SitecoreData.ItemRepository, Sitecore.PathAnalyzer" singleInstance="true">
        <param desc="configuration" ref="pathAnalyzer/configuration" />
      </itemRepository>

      <!-- MAP ITEM DEPLOYMENT MANAGER
           This service is responsible for managing the deployment/re-deployment of map items.
      -->
      <mapItemDeploymentManager type="Sitecore.PathAnalyzer.Data.MapItemDeploymentManager, Sitecore.PathAnalyzer">
        <param desc="mapItemRepository" ref="pathAnalyzer/mapItemRepository" />
        <param desc="definitionService" ref="pathAnalyzer/definitionService" />
        <param desc="configuration" ref="pathAnalyzer/configuration" />
      </mapItemDeploymentManager>

      <!-- MAP ITEM REPOSITORY
           This service is responsible for creating and managing map objects from Sitecore database.
      -->
      <mapItemRepository type="Sitecore.PathAnalyzer.Data.MapItemRepository, Sitecore.PathAnalyzer">
        <param desc="itemRepository" ref="pathAnalyzer/itemRepository" />
        <param desc="configuration" ref="pathAnalyzer/configuration" />
      </mapItemRepository>

      <!-- MAP STATUS SERVICE
           Resolves map status for a given map/tree definition.
      -->
      <mapStatusService type="Sitecore.PathAnalyzer.Data.MapStatusService, Sitecore.PathAnalyzer">
        <param desc="mapItemRepository" ref="pathAnalyzer/mapItemRepository" />
        <param desc="mapItemDeploymentManager" ref="pathAnalyzer/mapItemDeploymentManager" />
        <param desc="resourceManager" ref="pathAnalyzer/resourceManager" />
        <param desc="definitionService" ref="pathAnalyzer/definitionService" />
      </mapStatusService>

      <!-- NODE GROUPING FACTORY
      -->
      <nodeGroupingFactory type="Sitecore.PathAnalyzer.TreeConversions.NodeGroupingFactory, Sitecore.PathAnalyzer">
        <param desc="configuration" ref="pathAnalyzer/configuration" />
        <param desc="itemRepository" ref="pathAnalyzer/itemRepository" />
      </nodeGroupingFactory>

      <!-- PRUNING CONFIGURATION
           This service provides access to configuration settings used by pruning operations within Path Analyzer.
      -->
      <pruningConfiguration type="Sitecore.SequenceAnalyzer.Configuration.PruningConfig, Sitecore.SequenceAnalyzer" />

      <!-- RESOURCE MANAGER
           This service is used to retrieve translated strings from the Path Analyzer dictionary
      -->
      <resourceManager type="Sitecore.PathAnalyzer.Localization.ResourceManager, Sitecore.PathAnalyzer" singleInstance="true" />

      <!-- PRIMARY STORAGE
           This service is used to perform CRUD operations against a specific map data store. e.g. SQL Server.
      -->
      <primaryStorage type="Sitecore.PathAnalyzer.Data.Storage.SqlStorage, Sitecore.PathAnalyzer">
        <param desc="connectionString">reporting</param>
      </primaryStorage>

      <!-- SECONDARY STORAGE
           This service is used to perform CRUD operations against a specific map data store. e.g. SQL Server.
      -->
      <secondaryStorage type="Sitecore.PathAnalyzer.Data.Storage.SqlStorage, Sitecore.PathAnalyzer">
        <param desc="connectionString">reporting.secondary</param>
      </secondaryStorage>

      <!-- TREE STORAGE MANAGER
           Responsible for maintaining tree storage state.
      -->
      <treeStorageManager type="Sitecore.PathAnalyzer.Data.Storage.TreeStorageManager, Sitecore.PathAnalyzer">
        <Stores hint="list:AddTreeStore">
          <primary ref="pathAnalyzer/primaryStorage" />
          <secondary ref="pathAnalyzer/secondaryStorage" />
        </Stores>
      </treeStorageManager>

      <!-- TREE PROVIDER
           This service is used to perform retrieval operations for maps.
      -->
      <treeProvider type="Sitecore.PathAnalyzer.Data.TreeProvider, Sitecore.PathAnalyzer" singleInstance="true" />

      <!-- TREE CACHE
           This service is responsible for caching map data retrieved from storage.
      -->
      <treeCache type="Sitecore.PathAnalyzer.Data.Caching.TreeCache, Sitecore.PathAnalyzer" singleInstance="true">
        <param desc="configuration" ref="pathAnalyzer/configuration" />
      </treeCache>

      <!-- MODELS
           This section defines types used by the map serialization/deserialization processes.
      -->
      <models>
        <xNode type="Sitecore.PathAnalyzer.Data.Models.ExperienceNode, Sitecore.PathAnalyzer" />
        <xTree type="Sitecore.PathAnalyzer.Data.Models.ExperienceTree, Sitecore.PathAnalyzer" />
        <pageNode type="Sitecore.PathAnalyzer.Data.Models.PageNode, Sitecore.PathAnalyzer" />
      </models>
    </pathAnalyzer>
    <!-- APP DEPENDENCIES -->
    <appDependencies>
      <xdb>
        <app id="{C15CD34F-C772-4B34-84D7-D04E61D72FDB}" name="PathAnalyzer" />
      </xdb>
    </appDependencies>
    <!-- PIPELINES -->
    <pipelines>
      <initialize>
        <processor type="Sitecore.PathAnalyzer.Pipelines.Initialize.Loader, Sitecore.PathAnalyzer"
                   patch:before="processor[@type='Sitecore.Pipelines.Loader.LoadHooks, Sitecore.Kernel']"/>
      </initialize>
      <!-- EVALUATE CONTACT
           When a tree is being constructed, relevant contacts may be added to each tree node. This pipeline determines whether or not a contact is relevant and
           therefore whether or not the contact should be added to the tree node being processed. NOTE: the PathAnalyzer.MaxStoredContacts setting determines
           how many relevant contacts can be added to a tree node.
      -->
      <group groupName="PathAnalyzer.Construction">
        <pipelines>
          <evaluateContact>
            <processor type="Sitecore.PathAnalyzer.Pipelines.EvaluateContact.IsContactIdentified, Sitecore.PathAnalyzer" />
            <processor type="Sitecore.PathAnalyzer.Pipelines.EvaluateContact.MeetsVisitCountThreshold, Sitecore.PathAnalyzer">
              <VisitCountThreshold>2</VisitCountThreshold>
            </processor>
            <processor type="Sitecore.PathAnalyzer.Pipelines.EvaluateContact.MeetsValueThreshold, Sitecore.PathAnalyzer">
              <ValueThreshold>100</ValueThreshold>
            </processor>
          </evaluateContact>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
