<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the Outcome management module.

In most cases, you should leave this file enabled.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Analytics.Outcome.Pipelines.Initialize.RegisterDataModelExtensions, Sitecore.Analytics.Outcome" />
      </initialize>      

      <rebuildKeyBehaviorCache>
        <processor type="Sitecore.Analytics.Outcome.Pipelines.RebuildKeyBehaviorCache.UpdateArgumentsWithOutcomesRelatedToInteractions, Sitecore.Analytics.Outcome" patch:after="processor[@type='Sitecore.Analytics.Pipelines.RebuildKeyBehaviorCache.ReadInteractionsFromHistory, Sitecore.Analytics']"/>
      </rebuildKeyBehaviorCache>

      <updateKeyBehaviorCache>
        <processor type="Sitecore.Analytics.Outcome.Pipelines.UpdateKeyBehaviorCache.UpdateOutcomesModelData, Sitecore.Analytics.Outcome" patch:after="processor[@type='Sitecore.Analytics.Pipelines.UpdateKeyBehaviorCache.UpdateGoalsModelData, Sitecore.Analytics']"/>
      </updateKeyBehaviorCache>
    </pipelines>

    <outcome>
      <outcomeManager type="Sitecore.Analytics.Outcome.OutcomeManager, Sitecore.Analytics.Outcome" singleInstance="true">
        <param desc="repository" type="Sitecore.Analytics.Outcome.Data.MongoDbOutcomeRepository, Sitecore.Analytics.Outcome">
          <param name="connectionStringName">analytics</param>
        </param>
      </outcomeManager>
    </outcome>    
  </sitecore>
</configuration>