<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the marketing taxonomy management module.

In most cases, you should leave this file enabled.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <hooks>
      <!-- Initializes all taxonomy managers -->
      <hook type="Sitecore.Marketing.Taxonomy.Hooks.Initializer, Sitecore.Marketing.Taxonomy" />
    </hooks>

    <taxonomy>
      <sc.variable name="taxonomy.repository" value="itemTaxonomyRepository" />
      <cacheSize>20MB</cacheSize>
      <cacheExpirationInSeconds>0</cacheExpirationInSeconds>
      
      <!-- Known Managers -->
      <knownManagers>
        <campaignGroupTaxonomyManager type="Sitecore.Marketing.Taxonomy.CampaignGroupTaxonomyManager, Sitecore.Marketing.Taxonomy" singleInstance="true">
          <param desc="repository" ref="taxonomy/repositories/$(taxonomy.repository)" />
          <param desc="mapper" ref="taxonomy/mappers/taxonomyTypeMapper" />
          <param desc="cache" type="Sitecore.Marketing.Taxonomy.TaxonomyCache, Sitecore.Marketing.Taxonomy">
            <param desc="name">taxonomy.campaigngroups</param>
            <param desc="cacheSize" ref="taxonomy/cacheSize" />
            <param desc="expirationInSeconds" ref="taxonomy/cacheExpirationInSeconds" />
          </param>

        </campaignGroupTaxonomyManager>

        <channelTaxonomyManager type="Sitecore.Marketing.Taxonomy.ChannelTaxonomyManager, Sitecore.Marketing.Taxonomy" singleInstance="true">
          <param desc="repository" ref="taxonomy/repositories/$(taxonomy.repository)" />
          <param desc="mapper" ref="taxonomy/mappers/taxonomyTypeMapper" />
          <param desc="cache" type="Sitecore.Marketing.Taxonomy.TaxonomyCache, Sitecore.Marketing.Taxonomy">
            <param desc="name">taxonomy.channels</param>
            <param desc="cacheSize" ref="taxonomy/cacheSize" />
            <param desc="expirationInSeconds" ref="taxonomy/cacheExpirationInSeconds" />
          </param>
        </channelTaxonomyManager>

        <venueTaxonomyManager type="Sitecore.Marketing.Taxonomy.VenueTaxonomyManager, Sitecore.Marketing.Taxonomy" singleInstance="true">
          <param desc="repository" ref="taxonomy/repositories/$(taxonomy.repository)" />
          <param desc="mapper" ref="taxonomy/mappers/taxonomyTypeMapper" />
          <param desc="cache" type="Sitecore.Marketing.Taxonomy.TaxonomyCache, Sitecore.Marketing.Taxonomy">
            <param desc="name">taxonomy.venues</param>
            <param desc="cacheSize" ref="taxonomy/cacheSize" />
            <param desc="expirationInSeconds" ref="taxonomy/cacheExpirationInSeconds" />
          </param>
        </venueTaxonomyManager>

        <assetTaxonomyManager type="Sitecore.Marketing.Taxonomy.AssetTaxonomyManager, Sitecore.Marketing.Taxonomy" singleInstance="true">
          <param desc="repository" ref="taxonomy/repositories/$(taxonomy.repository)" />
          <param desc="mapper" ref="taxonomy/mappers/taxonomyTypeMapper" />
          <param desc="cache" type="Sitecore.Marketing.Taxonomy.TaxonomyCache, Sitecore.Marketing.Taxonomy">
            <param desc="name">taxonomy.assets</param>
            <param desc="cacheSize" ref="taxonomy/cacheSize" />
            <param desc="expirationInSeconds" ref="taxonomy/cacheExpirationInSeconds" />
          </param>
        </assetTaxonomyManager>

        <outcomeGroupTaxonomyManager type="Sitecore.Marketing.Taxonomy.OutcomeGroupTaxonomyManager, Sitecore.Marketing.Taxonomy" singleInstance="true">
          <param desc="repository" ref="taxonomy/repositories/$(taxonomy.repository)" />
          <param desc="mapper" ref="taxonomy/mappers/taxonomyTypeMapper" />
          <param desc="cache" type="Sitecore.Marketing.Taxonomy.TaxonomyCache, Sitecore.Marketing.Taxonomy">
            <param desc="name">taxonomy.outcomeGroups</param>
            <param desc="cacheSize" ref="taxonomy/cacheSize" />
            <param desc="expirationInSeconds" ref="taxonomy/cacheExpirationInSeconds" />
          </param>
        </outcomeGroupTaxonomyManager>
      </knownManagers>

      <!-- Custom manager created as needed. Note: the TaxonomyManagerProvider appends the taxonomy root id to the cache name. -->
      <customTaxonomyManager type="Sitecore.Marketing.Taxonomy.CustomTaxonomyManager, Sitecore.Marketing.Taxonomy" singleInstance="true">
        <param desc="repository" ref="taxonomy/repositories/$(taxonomy.repository)" />
        <param desc="mapper" ref="taxonomy/mappers/taxonomyTypeMapper" />
        <param desc="cache" type="Sitecore.Marketing.Taxonomy.TaxonomyCache, Sitecore.Marketing.Taxonomy">
          <param desc="name">taxonomy.custom.</param>
          <param desc="cacheSize" ref="taxonomy/cacheSize" />
          <param desc="expirationInSeconds" ref="taxonomy/cacheExpirationInSeconds" />
        </param>
      </customTaxonomyManager>

      <!-- Repositories -->
      <repositories>
        <itemTaxonomyRepository type="Sitecore.Marketing.Taxonomy.Data.ItemDb.ItemTaxonomyRepository, Sitecore.Marketing.Taxonomy" singleInstance="true">
          <param desc="databaseName">master</param>
        </itemTaxonomyRepository>
      </repositories>

      <!-- Mappers -->
      <mappers>
        <taxonomyTypeMapper type="Sitecore.Marketing.Taxonomy.Mapping.TaxonomyTypeMapper, Sitecore.Marketing.Taxonomy" singleInstance="true">
          <mappers hint="list:AddMapper">

            <!-- Campaign -->
            <campaignTaxonomyMapper type="Sitecore.Marketing.Taxonomy.Mapping.CampaignGroup.CampaignGroupTaxonomyMapper, Sitecore.Marketing.Taxonomy"/>
            <campaignMapper type="Sitecore.Marketing.Taxonomy.Mapping.CampaignGroup.CampaignGroupMapper, Sitecore.Marketing.Taxonomy"/>

            <!-- Channel -->
            <channelTaxonomyMapper type="Sitecore.Marketing.Taxonomy.Mapping.Channel.ChannelTaxonomyMapper, Sitecore.Marketing.Taxonomy"/>
            <channelTypeMapper type="Sitecore.Marketing.Taxonomy.Mapping.Channel.ChannelTypeMapper, Sitecore.Marketing.Taxonomy"/>
            <channelGroupMapper type="Sitecore.Marketing.Taxonomy.Mapping.Channel.ChannelGroupMapper, Sitecore.Marketing.Taxonomy"/>
            <channelMapper type="Sitecore.Marketing.Taxonomy.Mapping.Channel.ChannelMapper, Sitecore.Marketing.Taxonomy"/>

            <!-- Venue -->
            <venueTaxonomyMapper type="Sitecore.Marketing.Taxonomy.Mapping.Venue.VenueTaxonomyMapper, Sitecore.Marketing.Taxonomy"/>
            <venueTypeMapper type="Sitecore.Marketing.Taxonomy.Mapping.Venue.VenueTypeMapper, Sitecore.Marketing.Taxonomy"/>
            <venueGroupMapper type="Sitecore.Marketing.Taxonomy.Mapping.Venue.VenueGroupMapper, Sitecore.Marketing.Taxonomy"/>
            <venueMapper type="Sitecore.Marketing.Taxonomy.Mapping.Venue.VenueMapper, Sitecore.Marketing.Taxonomy"/>

            <!-- Asset -->
            <assetTaxonomyMapper type="Sitecore.Marketing.Taxonomy.Mapping.Asset.AssetTaxonomyMapper, Sitecore.Marketing.Taxonomy"/>
            <assetGroupMapper type="Sitecore.Marketing.Taxonomy.Mapping.Asset.AssetGroupMapper, Sitecore.Marketing.Taxonomy"/>
            <assetMapper type="Sitecore.Marketing.Taxonomy.Mapping.Asset.AssetMapper, Sitecore.Marketing.Taxonomy"/>

             <!-- Outcome Group -->
            <outcomeGroupTaxonomyMapper type="Sitecore.Marketing.Taxonomy.Mapping.OutcomeGroup.OutcomeGroupTaxonomyMapper, Sitecore.Marketing.Taxonomy"/>
            <outcomeGroupMapper type="Sitecore.Marketing.Taxonomy.Mapping.OutcomeGroup.OutcomeGroupMapper, Sitecore.Marketing.Taxonomy"/>
            
            <!-- Custom -->
            <customTaxonomyMapper type="Sitecore.Marketing.Taxonomy.Mapping.Custom.CustomTaxonomyMapper, Sitecore.Marketing.Taxonomy"/>
            <customGroupMapper type="Sitecore.Marketing.Taxonomy.Mapping.Custom.CustomTaxonGroupMapper, Sitecore.Marketing.Taxonomy"/>
            <customTaxonMapper type="Sitecore.Marketing.Taxonomy.Mapping.Custom.CustomTaxonMapper, Sitecore.Marketing.Taxonomy"/>

          </mappers>
        </taxonomyTypeMapper>
      </mappers>
      
    </taxonomy>

    <pipelines>
      <group name="marketingTaxonomy" groupName="marketingTaxonomy">
        <pipelines>
          <resolveUnknownTaxon>
              <processor type="Sitecore.Marketing.Taxonomy.Pipelines.ResolveUnknownTaxon.DefaultUnknownTaxonResolver, Sitecore.Marketing.Taxonomy" />
              <processor type="Sitecore.Marketing.Taxonomy.Pipelines.ResolveUnknownTaxon.DefaultUnknownTaxonomyResolver, Sitecore.Marketing.Taxonomy" />
          </resolveUnknownTaxon>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>