<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures how the processing subsystem of the Sitecore Experience Database (xDB) aggregates engagement 
automation data from the collection database before it is stored in the reporting database for use by Sitecore reporting applications.

This file should always be enabled in case the current server needs to:
- Perform aggregation tasks (a processing server).
- Perform management tasks such as rebuilding the reporting database (a content management server).

If the current server does not need to have the aggregation subsystem enabled, you can rename this config file and 
Sitecore.Analytics.Processing.Aggregation.config file so that they have a ".disabled" extension.


If this config file is enabled, the following config files must also be enabled:
- Sitecore.Analytics.Processing.Aggregation.config;
- Sitecore.Analytics.Processing.Aggregation.ProcessingPools.config;
- Sitecore.EngagementAutomation.Processing.Aggregation.ProcessingPools.config;

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <aggregation>

      <aggregationContexts>

        <automation>
          <live type="Sitecore.Analytics.Automation.Aggregation.Data.AutomationAggregationContext">
            <ReportingTargets hint="list:AddReportingTarget">
              <primary ref="aggregation/reportingStorageProviders.automation/primary" />
              <secondary ref="aggregation/reportingStorageProviders.automation/secondary.live" />
            </ReportingTargets>
          </live>
          <history type="Sitecore.Analytics.Automation.Aggregation.Data.AutomationAggregationContext">
            <ReportingTargets hint="list:AddReportingTarget">
              <secondary ref="aggregation/reportingStorageProviders.automation/secondary.history" />
            </ReportingTargets>
          </history>
        </automation>
      
      </aggregationContexts>

      <reportingStorageManager>
        <HistoryAggregatorManagers hint="list:AddAggregator">
          <automation type="Sitecore.Analytics.Automation.Aggregation.Data.Processing.AutomationHistoryAggregatorManager" singleInstance="true">
            <overriddenTargetProvidersConfigPaths hint="list:AddOverriddenTargetProviderConfigPath">
              <TargetProviderConfigPath>aggregation/reportingStorageProviders.automation/secondary.history</TargetProviderConfigPath>
            </overriddenTargetProvidersConfigPaths>
            <TaskManager ref="processing/taskManager" />
          </automation>
        </HistoryAggregatorManagers>
      </reportingStorageManager>

      <!-- Reporting Storage Providers: -->
      <reportingStorageProviders.automation>
        <primary type="Sitecore.Analytics.Automation.Aggregation.Data.SqlAggregatedAutomationStateStorageProvider, Sitecore.Analytics.Automation.Aggregation" singleInstance="true">
          <param desc="connectionStringName">reporting</param>
          <TrailLength>7.00:00:00</TrailLength>
        </primary>
        <secondary.live type="Sitecore.Analytics.Automation.Aggregation.Data.SqlAggregatedAutomationStateStorageProvider, Sitecore.Analytics.Automation.Aggregation" singleInstance="true">
          <param desc="connectionStringName">reporting.secondary</param>
          <param desc="cutoffBehavior">StoreOnlyAfterCutOffInclusive</param>
        </secondary.live>
        <secondary.history type="Sitecore.Analytics.Automation.Aggregation.Data.SqlAggregatedAutomationStateStorageProvider, Sitecore.Analytics.Automation.Aggregation" singleInstance="true">
          <param desc="connectionStringName">reporting.secondary</param>
          <param desc="cutoffBehavior">StoreOnlyBeforeCutOffExclusive</param>
        </secondary.history>
      </reportingStorageProviders.automation>
 
    </aggregation>

    <pipelines>

      <group groupName="analytics.aggregation">
        <pipelines>

          <automationStates>
            <processor type="Sitecore.Analytics.Automation.Aggregation.Pipelines.AutomationStates.AutomationStateAggregationProcessor, Sitecore.Analytics.Automation.Aggregation" />
          </automationStates>

        </pipelines>
      </group>

    </pipelines>

  </sitecore>
</configuration>