<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file contains configuration settings for the Sitecore Path Analyzer client interfaces.

This file should only be used within Sitecore instances functioning as CM (Content Management) instances. On all other
instance types (e.g. Content Delivery, Processing), this file can be removed or disabled.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- COMMANDS -->
    <commands>
      <command name="pathanalyzer:open-page-analyzer" type="Sitecore.PathAnalyzer.Client.Commands.OpenPageAnalyzer, Sitecore.PathAnalyzer.Client" />
      <command name="pathanalyzer:create-site-specific-map-group" type="Sitecore.PathAnalyzer.Client.Commands.CreateSiteSpecificMapGroup, Sitecore.PathAnalyzer.Client" />
    </commands>
    <!-- PIPELINES -->
    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.PathAnalyzer.Client.Pipelines.GetContentEditorWarnings.MapStatus, Sitecore.PathAnalyzer.Client" />
      </getContentEditorWarnings>
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Applications/PathAnalyzer" deep="true" category="pathanalyzer" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
    </pipelines>
    <processors>
      <uiDeleteItems>
        <processor mode="on" type="Sitecore.PathAnalyzer.Client.Pipelines.DeleteItems.DeletePathAnalyzerItems,Sitecore.PathAnalyzer.Client"
                   method="CheckDefaultSiteMapGroup"
                   patch:before="processor[@method='UncloneItems']" />
        <processor mode="on" type="Sitecore.PathAnalyzer.Client.Pipelines.DeleteItems.DeletePathAnalyzerItems,Sitecore.PathAnalyzer.Client"
                   method="CheckMapItems"
                   patch:before="processor[@method='UncloneItems']" />
      </uiDeleteItems>
    </processors>
    <scheduling>
      <!-- Page Analyzer Help -->
      <agent type="Sitecore.PathAnalyzer.Client.Tasks.HelpUpdateAgent,Sitecore.PathAnalyzer.Client" method="Run" interval="03:00:00" desc="PageExplorer Help">
        <param desc="url">https://raw.githubusercontent.com/Sitecore/help/release/8.x/8.2/{lang}/pathanalyzer/pageanalyzer-help.md</param>
        <param desc="itemId">{91F4E02D-E8DD-46BB-A9B7-A7A2A8BE915B}</param>
        <param desc="database">core</param>
      </agent>
      <!-- Path Analyzer Help -->
      <agent type="Sitecore.PathAnalyzer.Client.Tasks.HelpUpdateAgent,Sitecore.PathAnalyzer.Client" method="Run" interval="03:00:00" desc="PathAnalyzer Help">
        <param desc="url">https://raw.githubusercontent.com/Sitecore/help/release/8.x/8.2/{lang}/pathanalyzer/pathanalyzer-help.md</param>
        <param desc="itemId">{7DC058D8-A23E-4277-BA55-7A59423AB707}</param>
        <param desc="database">core</param>
      </agent>
    </scheduling>
  </sitecore>
</configuration>