<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file extends the configuration of the tracking subsystem of the Sitecore Experience Database (xDB).
It adds a processor that runs automation when page events are registered.

If you want to disable this functionality and prevent automation from running, you must rename this config file
so that it has a ".disabled" extension.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <registerPageEvent>
        <processor type="Sitecore.Automation.MarketingAutomation.Pipelines.RegisterPageEvent.RunAutomation, Sitecore.Analytics.Automation" patch:after="processor[@type='Sitecore.Analytics.Pipelines.RegisterPageEvent.RunPageEventRules, Sitecore.Analytics']"/>
      </registerPageEvent>
    </pipelines>
  </sitecore>
</configuration>
