<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  XDB ENABLED
            Determines whether xDB is enabled or not.
            Default value: true
      -->
      <setting name="Xdb.Enabled" value="true" />

      <!--  XDB DISABLED PAGE HANDLER
            The URL of the page that is displayed when the Xdb is disabled. 
            All applications that depend on the Xdb must redirect to this page when Xdb is disabled.
      -->
      <setting name="XdbDisabledUrl" value="/sitecore/service/xdb/disabled.aspx"/>

      <!--  XDB TRACKING ENABLED
            Determines whether tracking is enabled or not.
            Default value: true
      -->
      <setting name="Xdb.Tracking.Enabled" value="true" />

      <!--  XDB TRACKING - KEY BEHAVIOR CACHE - MAXIMUMCACHEENTRYCOUNT
            Specifies the maximum number of items that you can store in the cache for a given category (goals, page events, etc.).
            Default: 50
      -->
      <setting name="Xdb.Tracking.KeyBehaviorCache.MaximumCacheEntryCount" value="50" />

      <!--  XDB TRACKING - KEY BEHAVIOR CACHE - MAXIMUMINTERACTIONOPERIOD
            Specifies the maximum time period (compared against start date time) for interactions that can be included in cache rebuilds or updates.
            Default: 30 days
      -->
      <setting name="Xdb.Tracking.KeyBehaviorCache.MaximumInteractionPeriod" value="30.00:00:00" />

      <!--  XDB TRACKING - KEY BEHAVIOR CACHE - MAXIMUMINTERACTIONCOUNT
            Specifies the maximum number of interactions that can be included in cache rebuilds or updates
            Default: 25
      -->
      <setting name="Xdb.Tracking.KeyBehaviorCache.MaximumInteractionCount" value="25" />
    </settings>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Analytics.Pipelines.Initialize.ShowXdbInfo, Sitecore.Analytics" patch:after="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>