<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the processing pools that are available to the processing subsystem when aggregating data from the
collection database. The processing pools are shared by the servers that run the aggregation subsystem and the servers that register visits
for aggregation.

In most cases, you should leave this file enabled, so that the server can register things for aggregation, even if the server does not run
any aggregation tasks itself. 

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <aggregation>
      <historyTaskManager type="Sitecore.Analytics.Aggregation.History.MongoDbHistoryTaskManager" singleInstance="true">
        <param desc="connectionStringName">analytics</param>
        <ReportingStorage ref="aggregation/reportingStorageProviders/secondary.history" />
        <CollectionData ref="aggregation/collectionData" />
        <ProcessingPool ref="aggregationProcessing/processingPools/history" />
        <MinimumRangeSize>1000</MinimumRangeSize>
      </historyTaskManager>
    </aggregation>

    <aggregationProcessing>

      <retryAttempts>10</retryAttempts>
      <retryDelay>60</retryDelay>

      <processingPools>
        <live type="Sitecore.Analytics.Data.MongoDb.ProcessingPool.MongoDbProcessingPool, Sitecore.Analytics.MongoDb" singleInstance="true" >
          <param desc="connectionStringName">tracking.live</param>
          <Name>live</Name>
          <Enabled>true</Enabled>
          <RetryAttempts ref="aggregationProcessing/retryAttempts" />
          <RetryDelay ref="aggregationProcessing/retryDelay" />
        </live>

        <history type="Sitecore.Analytics.Data.MongoDb.ProcessingPool.MongoDbProcessingPool, Sitecore.Analytics.MongoDb" singleInstance="true" >
          <param desc="connectionStringName">tracking.history</param>
          <Name>history</Name>
          <Enabled>true</Enabled>
          <RetryAttempts ref="aggregationProcessing/retryAttempts" />
          <RetryDelay ref="aggregationProcessing/retryDelay" />
        </history>

        <contact type="Sitecore.Analytics.Data.MongoDb.ProcessingPool.MongoDbProcessingPool, Sitecore.Analytics.MongoDb" singleInstance="true" >
          <param desc="connectionStringName">tracking.contact</param>
          <DuplicateKeyStrategy>AllowAndMerge</DuplicateKeyStrategy>
          <Name>contact</Name>
          <Enabled>true</Enabled>
          <RetryAttempts ref="aggregationProcessing/retryAttempts" />
          <RetryDelay ref="aggregationProcessing/retryDelay" />
        </contact>

      </processingPools>

    </aggregationProcessing>

  </sitecore>
</configuration>