<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  ANALYTICS AUTOMATION ENGAGEMENT PLAN CACHE EXPIRATION 
            When Sitecore counts automation states in a plan the aggregated results are cached for better performance.
            The number of milliseconds before the cache expires.
            Default: 2000
      -->
      <setting name="Analytics.Automation.EngagementPlanCacheExpiration" value="2000" />
    </settings>

    <automation>
      <!-- Provides information about the structure and settings on the automation plans and states to the EAS functions. -->
      <metadataProvider type="Sitecore.Analytics.Automation.Data.Items.SitecoreItemsAutomationMetadataProvider,Sitecore.Analytics.Automation" singleInstance="true" />

      <mergeStrategy type="Sitecore.Analytics.Automation.Data.DefaultAutomationStatesMergeStrategy, Sitecore.Analytics.Automation" />
    </automation>

    <automationManager defaultProvider="default">
      <providers>
        <clear/>
        <add name="default" type="Sitecore.Analytics.Automation.Data.MongoDbAutomationProvider, Sitecore.Analytics.Automation.MongoDB">
          <param desc="connectionStringName">analytics</param>
        </add>
      </providers>
    </automationManager>

    <pipelines>
      <automation>
        <processor type="Sitecore.Analytics.Pipelines.Automation.GetAutomationStateItem,Sitecore.Analytics.Automation" />
        <processor type="Sitecore.Analytics.Pipelines.Automation.LastAccessedDateTime,Sitecore.Analytics.Automation" />
        <processor type="Sitecore.Analytics.Automation.Pipelines.Automation.ProcessCommands,Sitecore.Analytics.Automation" />
        <processor type="Sitecore.Analytics.Pipelines.Automation.SetNextWakeUpTime,Sitecore.Analytics.Automation" />
      </automation>

      <getContentEditorWarnings>
        <processor type="Sitecore.Analytics.Automation.Pipelines.GetContentEditorWarnings.IsEngagementPlanDeployed, Sitecore.Analytics.Automation"  patch:after="processor[@type='Sitecore.Pipelines.GetContentEditorWarnings.HasNoFields, Sitecore.Kernel']"/>
      </getContentEditorWarnings>

      <mergeContacts>
        <processor type="Sitecore.Analytics.Automation.Pipelines.MergeContacts.MergeAutomationStates,Sitecore.Analytics.Automation" patch:after="processor[@type='Sitecore.Analytics.Pipelines.MergeContacts.MergeContactCounters, Sitecore.Analytics']"/>
      </mergeContacts>

      <postContactObsoletion>
        <processor type="Sitecore.Analytics.Automation.Pipelines.PostContactObsoletion.RemoveAutomationStates, Sitecore.Analytics.Automation"/>
      </postContactObsoletion>

      <processEmailMessage>
        <processor type="Sitecore.Analytics.Automation.Pipelines.PrepareEmail.ProcessEmailMessage, Sitecore.Analytics.Automation" method="AddHostToItemLink"/>
        <processor type="Sitecore.Analytics.Automation.Pipelines.PrepareEmail.ProcessEmailMessage, Sitecore.Analytics.Automation" method="AddHostToMediaItem"/>
        <processor type="Sitecore.Analytics.Automation.Pipelines.PrepareEmail.ProcessEmailMessage, Sitecore.Analytics.Automation" method="SendEmail"/>
      </processEmailMessage>

      <submitContact>
        <processor type="Sitecore.Analytics.Automation.Pipelines.SubmitContact.SaveAutomationRecords, Sitecore.Analytics.Automation" patch:before="processor[@type='Sitecore.Analytics.Outcome.Pipelines.SubmitContact.SaveOutcomesProcessor, Sitecore.Analytics.Outcome']"/>
      </submitContact>

      <triggerCampaign>
        <processor type="Sitecore.Automation.MarketingAutomation.Pipelines.TriggerCampaign.RunAutomation,Sitecore.Analytics.Automation" patch:after="processor[@type='Sitecore.Analytics.Pipelines.TriggerCampaign.RunRules,Sitecore.Analytics']"/>
      </triggerCampaign>

      <visitEnd>
        <processor type="Sitecore.Analytics.Pipelines.VisitEnd.RunAutomation,Sitecore.Analytics.Automation" patch:after="processor[@type='Sitecore.Analytics.Pipelines.VisitEnd.RunRules,Sitecore.Analytics']"/>
      </visitEnd>

    </pipelines>
  </sitecore>
</configuration>