<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file contains declarations of server requests for Sitecore Experience Explorer.

-->

<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone OR ContentDelivery OR ContentManagement OR Processing OR Reporting">
    <sitecore.experienceeditor.speak.requests>
      <!-- Explorer mode Start -->
      <request name="ExperienceExplorer.ExplorerMode.CanExplore" type="Sitecore.ExperienceExplorer.Web.Requests.CanExplore, Sitecore.ExperienceExplorer.Web" />
      <request name="ExperienceExplorer.ExplorerMode.Explore" type="Sitecore.ExperienceExplorer.Web.Requests.ExplorerMode, Sitecore.ExperienceExplorer.Web" />
      <!-- Explorer mode End -->
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>




