<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone OR ContentDelivery OR ContentManagement OR Processing OR Reporting">
    <sites>
      <site name="website">
        <patch:attribute name="language">en</patch:attribute>
      </site>
      <site name="login">
        <patch:attribute name="language">en</patch:attribute>
      </site>
      <site name="shell">
        <patch:attribute name="contentLanguage">en</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="ClientLanguage">
        <patch:attribute name="value">en</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>