<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Commerce.Pipelines.RegisterConnectTypesWithMongo, Sitecore.Commerce"/>
      </initialize>

      <!-- These pipelines run on the ReportServer instance. -->
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <get-pageevents>
            <processor type="Sitecore.Commerce.ExperienceProfile.ReportingServerDataSource.VisitEvents.GetPageEvents, Sitecore.Commerce.ExperienceProfile" reusable="false">
            </processor>
          </get-pageevents>
          <get-popularproducts-byviews>
            <processor type="Sitecore.Commerce.ExperienceProfile.ReportingServerDataSource.PopularProducts.GetPopularProductsByViews, Sitecore.Commerce.ExperienceProfile" reusable="false">
            </processor>
          </get-popularproducts-byviews>
          <get-popularproducts-byadditions>
            <processor type="Sitecore.Commerce.ExperienceProfile.ReportingServerDataSource.PopularProducts.GetPopularProductsByAdditions, Sitecore.Commerce.ExperienceProfile" reusable="false">
            </processor>
          </get-popularproducts-byadditions>
          <get-popularproducts-bypurchase>
            <processor type="Sitecore.Commerce.ExperienceProfile.ReportingServerDataSource.PopularProducts.GetPopularProductsByPurchase, Sitecore.Commerce.ExperienceProfile" reusable="false">
            </processor>
          </get-popularproducts-bypurchase>
          <get-outcomes>
            <processor type="Sitecore.Commerce.ExperienceProfile.ReportingServerDataSource.Outcomes.GetOutcomes, Sitecore.Commerce.ExperienceProfile" reusable="false">
            </processor>
          </get-outcomes>
          <get-ordermetrics>
            <processor type="Sitecore.Commerce.ExperienceProfile.ReportingServerDataSource.Metrics.GetOrderMetrics, Sitecore.Commerce.ExperienceProfile" reusable="false"/>
          </get-ordermetrics>
          <get-abandonedcartmetrics>
            <processor type="Sitecore.Commerce.ExperienceProfile.ReportingServerDataSource.Metrics.GetAbandonedCartMetrics, Sitecore.Commerce.ExperienceProfile" reusable="false"/>
          </get-abandonedcartmetrics>
          <get-productmissedopportunities>
            <processor type="Sitecore.Commerce.ExperienceProfile.ReportingServerDataSource.Metrics.MissedOpportunities.GetProductMissedOpportunities, Sitecore.Commerce.ExperienceProfile" reusable="false"/>
          </get-productmissedopportunities>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>