<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the interning mechanisms of the Sitecore CEP, and must be enabled on all server roles.

You should enable this file to reduce the memory consumption. This is done by re-using immutable objects (f.e. strings, and IDs ) instead of creating new ones.
Extending of the functionality must be done carefully not to introduce memory leaks.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <interning>
      <internProviders>
        <internProvider internedType="Sitecore.Data.ID,Sitecore.Kernel" type="Sitecore.Data.Interning.InternProviders.IdInternProvider,Sitecore.Kernel">
          <param desc="concurrencyLevel">100</param>
          <param desc="initialCapacity">36</param>
        </internProvider>
        <internProvider internedType="System.String" type="Sitecore.Data.Interning.InternProviders.StringInternProvider,Sitecore.Kernel"/>
      </internProviders>
      <!-- Fields that are known to have a lot of duplicated values.
           Since field values are stored and cached as strings, same string instance could be re-used instead of creating new ones.
       -->
      <fieldIdsToIntern>
        <workflowState>{3E431DE1-525E-47A3-B6B0-1CCBEC3A8C98}</workflowState>
        <workflow>{A4F985D9-98B3-4B52-AAAF-4344F6E747C6}</workflow>
        <updatedBy>{BADD9CF9-53E0-4D0C-BCC0-2D784C282F6A}</updatedBy>
        <createdBy>{5DD74568-4D4B-44C1-B513-0AF5F4CDA34F}</createdBy>
        <neverPublish>{9135200A-5626-4DD8-AB9D-D665B8C11748}</neverPublish>
        <mimeType>6F47A0A5-9C94-4B48-ABEB-42D38DEF6054</mimeType>
        <owner>{52807595-0F8F-4B20-8D2A-CB71D28C6103}</owner>
        <type>{AB162CC0-DC80-4ABF-8871-998EE5D7BA32}</type>
        <isShared>{BE351A73-FCB0-4213-93FA-C302D8AB4F51}</isShared>
        <isUnversioned>{39847666-389D-409B-95BD-F2016F11EED5}</isUnversioned>
        <sortOrder>{BA3F86A2-4A1C-4D78-B63D-91C2779C1B5E}</sortOrder>
      </fieldIdsToIntern>
    </interning>

    <settings>

      <!-- INTERNING ENABLED
           If enabled, Sitecore would re-use same immutable object instances, and enable InternManager<T> API.
           This can reduce memory consumption, and simplify Garbage Collection.
           The tradeoff is additional CPU cost of putting an object to intern pool.         
           Default value: false.
     -->
      <setting name="Interning.Enabled" value="false"/>

      <!-- INTERNING KNOWN FIELD VALUES 
           If enabled, Sitecore would ensure to use intern pool for the known field values. 

           EXAMPLE: Every item under workflow would have one among known limited values.
                    Since a field value is cached as string, a lot of duplicated strings represeting same workflow would present in memory.

           This setting is useful on large solutions where memory consumption is high.
           Default value: false.
     -->
      <setting name="Interning.InternKnownFieldValues" value="false"/>

      <!-- INTERNING TRACK STATISTICS
           A statistics of all method calls, and unique objects count would be tracked on per-type basic if setting and performace counters are enabled.          
           Default value: false.
     -->
      <setting name="Interning.TrackStatistics" value="false"/>
    </settings>
  </sitecore>
</configuration>