<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sessionSerialization>
      <!-- Provides fully qualified type names, which are allowed to be serialized. -->
      <allowedTypes>
        <type>Sitecore.Analytics.Automation.Data.AutomationStateManager, Sitecore.Analytics.Automation</type>
        <type>Sitecore.Analytics.Automation.Data.Items.SitecoreItemsAutomationMetadataProvider, Sitecore.Analytics.Automation</type>
        <type>Sitecore.Analytics.Automation.Model.MongoDbAutomationContext, Sitecore.Analytics.Automation.MongoDB</type>
        <type>Sitecore.Analytics.Automation.Model.StateDocument, Sitecore.Analytics.Automation.MongoDB</type>
        <type>Sitecore.Analytics.Automation.Model.TransitionDocument, Sitecore.Analytics.Automation.MongoDB</type>
        <type>Sitecore.Analytics.Model.AuthenticationLevel, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.ContactIdentificationLevel, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.ContactSaveMode, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.DeviceData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Entities.KeyBehaviorCache, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Entities.IKeyBehaviorCacheEntry, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Entities.Contact, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Int32, mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Guid, mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Nullable`1[[System.DateTime, mscorlib]], mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Nullable`1[[System.Guid, mscorlib]], mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.String, mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[Sitecore.Analytics.Model.AuthenticationLevel, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Byte[], mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Boolean, mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[Sitecore.Analytics.Model.ContactIdentificationLevel, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IExtensionAttributeGroup, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.ITag, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfile, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IExtensionAttributeGroup, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.ITag, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IBehaviorProfile, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Social.Connector.Facets.Contact.SocialProfile.INetworkElement, Sitecore.Social]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IEmailAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IPhoneNumber, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IEmailAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IPhoneNumber, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Social.Connector.Facets.Contact.SocialProfile.INetworkElement, Sitecore.Social]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelMemberCollection, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactSystemInfo, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactIdentifiers, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactExtensions, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactTags, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactBehaviorProfiles, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactPersonalInfo, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactAddresses, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactEmailAddresses, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactPhoneNumbers, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactPicture, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactCommunicationProfile, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.ContactPreferences, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.LeaseData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.VisitData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Tracking.ContactContext, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.ContactContext+ContactBehaviorProfilesContext, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.ContactContext+ContactSystemInfoContext, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.KeyBehaviorCache, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.KeyBehaviorCacheEntry, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.SessionSettings, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.StandardSession, Sitecore.Analytics</type>
        <type>Sitecore.ContentTesting.Model.Entities.TestCombinationsData, Sitecore.ContentTesting.Model</type>
        <type>Sitecore.Data.ID, Sitecore.Kernel</type>
        <type>Sitecore.Social.Connector.Facets.Contact.SocialProfile.SocialProfileFacet, Sitecore.Social</type>
        <type>System.Collections.Generic.GenericEqualityComparer`1[[System.String, mscorlib]], mscorlib</type>
        <type>System.Collections.Generic.ObjectEqualityComparer`1[[Sitecore.Data.ID, Sitecore.Kernel]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IFacet, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[System.Object, mscorlib]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IExtensionAttributeGroup, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.ITag, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfile, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IEmailAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Social.Connector.Facets.Contact.SocialProfile.INetworkElement, Sitecore.Social]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IPhoneNumber, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[Sitecore.Data.ID, Sitecore.Kernel],[Sitecore.Analytics.Automation.Model.AutomationState, Sitecore.Analytics.Automation]], mscorlib</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelMember, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelMember, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib],[System.Object, mscorlib]], mscorlib</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IFacet, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Model.VisitData, Sitecore.Analytics.Model]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Automation.Model.TransitionDocument, Sitecore.Analytics.Automation.MongoDB]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Tracking.KeyBehaviorCacheEntry, Sitecore.Analytics]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Automation.Model.StateDocument, Sitecore.Analytics.Automation.MongoDB]], mscorlib</type>
        <type>System.Collections.Generic.List`1[[System.Guid, mscorlib]], mscorlib</type>
        <type>System.Collections.ObjectModel.ReadOnlyCollection`1[[Sitecore.Analytics.Tracking.KeyBehaviorCacheEntry, Sitecore.Analytics]], mscorlib</type>
        <type>System.Collections.ObjectModel.ReadOnlyCollection`1[[Sitecore.Analytics.Automation.Model.StateDocument, Sitecore.Analytics.Automation.MongoDB]], mscorlib</type>
        <type>System.Guid, mscorlib</type>
        <type>Sitecore.Analytics.Model.LeaseOwner, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.LeaseOwnerType, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Entities.KeyBehaviorCacheEntry, Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfile, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Model.Framework.ModelElementMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfile, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.BehaviorProfile, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfileValue, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfileValue, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Model.Framework.ModelDictionaryMember`1+ElementDictionary[[Sitecore.Analytics.Model.Entities.IBehaviorProfileValue, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfileValue, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelElementMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfileValue, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IBehaviorProfileValue, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Model.Generated.BehaviorProfileValue, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.Double, mscorlib]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Tracking.ContactContext+ContactIdentifiersContext, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.EmptySession, Sitecore.Analytics</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.ITag, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Tracking.CurrentVisitContext, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.ContactLocation, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Model.Framework.ModelElementMember`1[[Sitecore.Analytics.Model.Entities.ITag, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Tracking.PageContext, Sitecore.Analytics]], mscorlib</type>
        <type>Sitecore.Analytics.Tracking.VisitProfiles, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Model.Generated.Tag, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Tracking.CurrentPageContext, Sitecore.Analytics</type>
        <type>System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib],[Sitecore.Analytics.Model.Framework.IModelElementMember`1[[Sitecore.Analytics.Model.Entities.IEmailAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Model.LocationData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelElementMember`1[[Sitecore.Analytics.Model.Entities.IEmailAddress, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Tracking.BrowserInformation, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Model.Generated.EmailAddress, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelCollectionMember`1[[Sitecore.Analytics.Model.Entities.ITagValue, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Tracking.ScreenInformation, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Tracking.PageContext, Sitecore.Analytics</type>
        <type>Sitecore.Analytics.Model.Framework.ElementCollection`1[[Sitecore.Analytics.Model.Entities.ITagValue, Sitecore.Analytics.Model]], Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Model.Entities.ITagValue, Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Model.Entities.ITagValue, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Generated.TagValue, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.Framework.ModelAttributeMember`1[[System.DateTime, mscorlib]], Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[Sitecore.Analytics.Model.ProfileData, Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Model.BrowserData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.ScreenData, Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Model.PageData, Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Model.PageData, Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.List`1[[System.String, mscorlib]], mscorlib</type>
        <type>System.DelegateSerializationHolder+DelegateEntry, mscorlib</type>
        <type>System.Reflection.MemberInfoSerializationHolder, mscorlib</type>
        <type>System.CultureAwareComparer, mscorlib</type>
        <type>Sitecore.Analytics.Model.ItemData, Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Model.PageEventData, Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Model.PersonalizationData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.SitecoreDeviceData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.MvTestData, Sitecore.Analytics.Model</type>
        <type>Sitecore.Analytics.Model.UrlData, Sitecore.Analytics.Model</type>
        <type>System.Globalization.CompareInfo, mscorlib</type>
        <type>Sitecore.Analytics.Model.PageEventData, Sitecore.Analytics.Model</type>
        <type>System.Collections.Generic.List`1[[Sitecore.Analytics.Model.PersonalizationRuleData, Sitecore.Analytics.Model]], mscorlib</type>
        <type>Sitecore.Analytics.Model.PersonalizationRuleData, Sitecore.Analytics.Model</type>
        <type>System.DelegateSerializationHolder, mscorlib</type>
        <type>MSCaptcha.CaptchaImage, MSCaptcha</type>
        <type>Sitecore.Xml.Serialization.XmlSerializable, Sitecore.Kernel</type>
        
        <!-- WFFM -->
        <type>Sitecore.Form.Core.ContentEditor.Data.ListDefinition, Sitecore.Forms.Core</type>
        <type>Sitecore.Form.Core.ContentEditor.Data.GroupDefinition, Sitecore.Forms.Core</type>
        <type>Sitecore.WFFM.Analytics.WffmContext, Sitecore.WFFM.Analytics</type>
        <type>Sitecore.WFFM.Abstractions.Analytics.FormData, Sitecore.WFFM.Abstractions</type>
        <type>Sitecore.WFFM.Abstractions.Analytics.FieldData, Sitecore.WFFM.Abstractions</type>
        <type>Sitecore.Form.Core.Analytics.WffmContext, Sitecore.Forms.Core</type>
        <type>Sitecore.WFFM.Analytics.Model.FormData, Sitecore.WFFM.Analytics</type>
        <type>Sitecore.WFFM.Analytics.Model.IFormData, Sitecore.WFFM.Analytics</type>
        <type>Sitecore.WFFM.Analytics.Model.FieldData, Sitecore.WFFM.Analytics</type>
        <type>Sitecore.WFFM.Analytics.Model.IFieldData, Sitecore.WFFM.Analytics</type>
        <type>Sitecore.Forms.Core.Analytics.Model.FormData, Sitecore.Forms.Core</type>
        <type>Sitecore.Forms.Core.Analytics.Model.FormFieldData, Sitecore.Forms.Core</type>

        <!-- EXM -->
        <type>Sitecore.EmailCampaign.Analytics.Model.EcmCustomValues, Sitecore.EmailCampaign.Analytics.Model</type>
        <type>Sitecore.EmailCampaign.Analytics.Model.EcmCustomValuesHolder, Sitecore.EmailCampaign.Analytics.Model</type>
        <type>Sitecore.EmailCampaign.Analytics.Model.ExmCustomValuesHolder, Sitecore.EmailCampaign.Analytics.Model</type>
        <type>Sitecore.EmailCampaign.Analytics.Model.ExmCustomValues, Sitecore.EmailCampaign.Analytics.Model</type>

        <!-- Sitecore.Commerce -->
        <type>Sitecore.Commerce.Entities.Facets.OfflineOrders, Sitecore.Commerce</type>
        <type>Sitecore.Commerce.Connect.CommerceServer.Models.ContactCommerceInfo, Sitecore.Commerce.Connect.CommerceServer</type>

      </allowedTypes>
    </sessionSerialization>
  </sitecore>
</configuration>