<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <marketingDefinitions>
      <searchIndexName>sitecore_marketingdefinitions_master</searchIndexName>
      <campaign>
        <definitionManager>
          <param desc="searchProvider">
            <patch:attribute name="ref">marketingDefinitions/campaign/searchProviders/default</patch:attribute>
          </param>
          <config>
            <activationFeed>
              <observer type="Sitecore.Marketing.Search.Observers.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search">
                <param name="databaseName" ref="marketingDefinitions/itemRepositoriesDatabase" />
                <param name="searchIndex" ref="marketingDefinitions/searchIndexName" />
              </observer>
          </activationFeed>
          </config>
        </definitionManager>
        <searchProviders>
          <default type="Sitecore.Marketing.Search.CampaignDefinitionSearchProvider, Sitecore.Marketing.Search">
            <param name="searchIndex" ref="marketingDefinitions/searchIndexName" />
          </default>
        </searchProviders>
      </campaign>
      <funnel>
        <definitionManager>
          <param desc="searchProvider">
            <patch:attribute name="ref">marketingDefinitions/funnel/searchProviders/default</patch:attribute>
          </param>
          <config>
            <activationFeed>
              <observer type="Sitecore.Marketing.Search.Observers.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search">
                <param name="databaseName" ref="marketingDefinitions/itemRepositoriesDatabase" />
                <param name="searchIndex" ref="marketingDefinitions/searchIndexName" />
              </observer>
            </activationFeed>
          </config>
        </definitionManager>
        <searchProviders>
          <default type="Sitecore.Marketing.Search.FunnelDefinitionSearchProvider, Sitecore.Marketing.Search">
            <param name="searchIndex" ref="marketingDefinitions/searchIndexName" />
          </default>
        </searchProviders>

        <stepStringConverter type="Sitecore.Marketing.Search.TypeConverters.StepStringConverter, Sitecore.Marketing.Search" />
      </funnel>
    </marketingDefinitions>
    <pipelines>
      <group name="marketingDefinitions" groupName="marketingDefinitions">
        <pipelines>
          <deleteCampaign>
            <processor type="Sitecore.Marketing.Search.Processors.DeleteFromSearchIndex`1[[Sitecore.Marketing.Search.IndexedCampaign, Sitecore.Marketing.Search]], Sitecore.Marketing.Search">
              <param name="databaseName" ref="marketingDefinitions/itemRepositoriesDatabase" />
              <param name="searchIndex" ref="marketingDefinitions/searchIndexName" />
            </processor>
          </deleteCampaign>
          <deleteFunnel>
            <processor type="Sitecore.Marketing.Search.Processors.DeleteFromSearchIndex`1[[Sitecore.Marketing.Search.IndexedFunnel, Sitecore.Marketing.Search]], Sitecore.Marketing.Search">
              <param name="databaseName" ref="marketingDefinitions/itemRepositoriesDatabase" />
              <param name="searchIndex" ref="marketingDefinitions/searchIndexName" />
            </processor>
          </deleteFunnel>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>