<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="website">
        <patch:attribute name="language">en</patch:attribute>
      </site>
      <site name="login">
        <patch:attribute name="language">en</patch:attribute>
      </site>
      <site name="shell">
        <patch:attribute name="contentLanguage">en</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="ClientLanguage">
        <patch:attribute name="value">en</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>