<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone OR ContentDelivery OR ContentManagement OR Processing OR Reporting">
    <contentSearch>      
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <!-- Disabled for speed of indexing. Enable if you would like to query by the fields below -->
              <!--<field fieldName="hasactivetest">Sitecore.ContentSearch.Analytics.ComputedFields.IsBeingTested,Sitecore.ContentSearch.Analytics</field>-->
              <!--<field fieldName="persona">Sitecore.ContentSearch.Analytics.ComputedFields.PersonaMatch, Sitecore.ContentSearch.Analytics</field>-->
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
