<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file contains configuration settings for the Sitecore Path Analyzer Web API services.

This file is required by the PathAnalyzer client. It can be removed/disabled from Sitecore CD (Content Delivery).

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- PATH ANALYZER - CACHING - RESPONSE CACHE EXPIRATION
           Sets the absolute expiration on cached controller response data.
           A value of 00:00:00 disables automatic expiration.

           Default value: 00:01:00 (1 minute)
        -->
      <setting name="PathAnalyzer.Caching.ResponseCacheExpiration" value="00:01:00" />
      <!-- PATH ANALYZER - RESPONSE - NODE NAME RESOLVING MODE
           Possible values: 0(raw) | 1(name) | 2(displayname)
           Default value: 0
        -->
      <setting name="PathAnalyzer.Response.NodeNameResolvingMode" value="0" />
    </settings>
    <!-- PIPELINES -->
    <pipelines>
      <initialize>
        <processor type="Sitecore.PathAnalyzer.Services.Pipelines.Initialize.WebApiInitializer, Sitecore.PathAnalyzer.Services" />
      </initialize>
    </pipelines>
    <!-- PATH ANALYZER
          Define the types used by Path Analyzer Web API controllers and services
    -->
    <pathAnalyzer>
      <!-- API CONFIGURATION
            Responsible for managing global configuration of Path Analyzer Web API (e.g. routes, filters, model binding, etc...)
      -->
      <apiConfiguration type="Sitecore.PathAnalyzer.Services.Configuration.ApiConfiguration" singleInstance="true">
        <param desc="settings" ref="pathAnalyzer/apiSettings" />
      </apiConfiguration>

      <!-- API SETTINGS
            Responsible for providing access to settings.
      -->
      <apiSettings type="Sitecore.PathAnalyzer.Services.Configuration.Settings" singleInstance="true" />

      <!-- NODE FACTORY
            A factory used to construct the various node types returned by the Path Analyzer Web API controllers.
      -->
      <nodeFactory type="Sitecore.PathAnalyzer.Services.Data.NodeFactory, Sitecore.PathAnalyzer.Services" singleInstance="true">
        <param desc="itemRepository" ref="pathAnalyzer/itemRepository" />
        <param desc="resourceManager" ref="pathAnalyzer/resourceManager" />
      </nodeFactory>

      <!-- PATH SET BUILDER
            Responsible for building PathSet objects consumed by Path Analyzer clients.
      -->
      <pathSetBuilder type="Sitecore.PathAnalyzer.Services.Response.PathSetBuilder, Sitecore.PathAnalyzer.Services">
        <param desc="itemRepository" ref="pathAnalyzer/itemRepository" />
        <param desc="nodeFactory" ref="pathAnalyzer/nodeFactory" />
      </pathSetBuilder>

      <!-- RESPONSE CACHE
            Responsible for caching various Path Analyzer controller output.
      -->
      <responseCache type="Sitecore.PathAnalyzer.Services.Caching.ResponseCache, Sitecore.PathAnalyzer.Services" singleInstance="true">
        <param desc="setting" ref="pathAnalyzer/apiSettings" />
      </responseCache>

      <!-- TREE MANAGER
            A facade service used by the Path Analyzer Web API controllers for managing map data retrieval and caching.
      -->
      <treeManager type="Sitecore.PathAnalyzer.Data.TreeManager, Sitecore.PathAnalyzer" singleInstance="true">
        <param desc="provider" ref="pathAnalyzer/treeProvider" />
        <param desc="cache" ref="pathAnalyzer/treeCache" />
      </treeManager>

      <!-- TREE SERVICE
            A facade service used by the Path Analyzer Web API controllers for retrieving, filtering and grouping map data.
      -->
      <treeService type="Sitecore.PathAnalyzer.Services.Data.TreeService, Sitecore.PathAnalyzer.Services" singleInstance="true">
        <param desc="treeManager" ref="pathAnalyzer/treeManager" />
        <param desc="nodeGroupingFactory" ref="pathAnalyzer/nodeGroupingFactory" />
        <param desc="resourceManager" ref="pathAnalyzer/resourceManager" />
      </treeService>
    </pathAnalyzer>
    <!-- CONTROLLERS -->
    <controllers>
      <controller type="Sitecore.PathAnalyzer.Services.Controllers.AuthenticationController, Sitecore.PathAnalyzer.Services" />
      <!-- PATHS CONTOLLER
           A Web API controller with actions related to retrieving path data.
      -->
      <controller type="Sitecore.PathAnalyzer.Services.Controllers.PathsController, Sitecore.PathAnalyzer.Services">
        <param desc="treeService" ref="pathAnalyzer/treeService" />
        <param desc="pathSetBuilder" ref="pathAnalyzer/pathSetBuilder" />
        <param desc="cache" ref="pathAnalyzer/responseCache" />
      </controller>
      <!-- CONTACTS BY PATH CONTOLLER
           A Web API controller with actions related to retrieving contacts based on a particular path.
      -->
      <controller type="Sitecore.PathAnalyzer.Services.Controllers.ContactsByPathController, Sitecore.PathAnalyzer.Services">
        <param desc="treeService" ref="pathAnalyzer/treeService" />
        <param desc="contactReader" ref="pathAnalyzer/contactReader" />
        <param desc="cache" ref="pathAnalyzer/responseCache" />
      </controller>
      <!-- TREE CONTOLLER
           A Web API controller with actions related to retrieving map data.
      -->
      <controller type="Sitecore.PathAnalyzer.Services.Controllers.TreeController, Sitecore.PathAnalyzer.Services">
        <param desc="treeService" ref="pathAnalyzer/treeService" />
        <param desc="nodeFactory" ref="pathAnalyzer/nodeFactory" />
        <param desc="cache" ref="pathAnalyzer/responseCache" />
      </controller>
      <!-- EXPLORER CONTOLLER
            A Web API controller with actions related to main Path Analyzer functionality
      -->
      <controller type="Sitecore.PathAnalyzer.Services.PathExplorer.Controllers.ExplorerController, Sitecore.PathAnalyzer.Services">
        <param desc="treeService" ref="pathAnalyzer/treeService" />
        <param desc="nodeFactory" ref="pathAnalyzer/nodeFactory" />
        <param desc="cache" ref="pathAnalyzer/responseCache" />
      </controller>

      <!-- TREE DEFINITION CONTROLLER
            A Web API controller with actions related to retrieving tree definition data.
      -->
      <controller type="Sitecore.PathAnalyzer.Services.Controllers.TreeDefinitionController, Sitecore.PathAnalyzer.Services">
        <param desc="definitionService" ref="pathAnalyzer/definitionService" />
        <param desc="mapStatusService" ref="pathAnalyzer/mapStatusService" />
        <param desc="cache" ref="pathAnalyzer/responseCache" />
      </controller>

      <!-- ITEM CONTROLLER
            A Web API controller with actions related to retrieving Sitecore item data.
      -->
      <controller type="Sitecore.PathAnalyzer.Services.Controllers.ItemController, Sitecore.PathAnalyzer.Services">
        <param desc="itemRepository" ref="pathAnalyzer/itemRepository" />
        <param desc="cache" ref="pathAnalyzer/responseCache" />
      </controller>
    </controllers>
    <!-- API -->
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="PA_AuthenticationController">Sitecore.PathAnalyzer.Services.Controllers.AuthenticationController, Sitecore.PathAnalyzer.Services</allowedController>
            <allowedController desc="PA_ExplorerController">Sitecore.PathAnalyzer.Services.PathExplorer.Controllers.ExplorerController, Sitecore.PathAnalyzer.Services</allowedController>
            <allowedController desc="PA_PathsController">Sitecore.PathAnalyzer.Services.Controllers.PathsController, Sitecore.PathAnalyzer.Services</allowedController>
            <allowedController desc="PA_TreeController">Sitecore.PathAnalyzer.Services.Controllers.TreeController, Sitecore.PathAnalyzer.Services</allowedController>
            <allowedController desc="PA_ContactsByPathController">Sitecore.PathAnalyzer.Services.Controllers.ContactsByPathController, Sitecore.PathAnalyzer.Services</allowedController>
            <allowedController desc="PA_TreeDefinitionController">Sitecore.PathAnalyzer.Services.Controllers.TreeDefinitionController, Sitecore.PathAnalyzer.Services</allowedController>
            <allowedController desc="PA_ItemController">Sitecore.PathAnalyzer.Services.Controllers.ItemController, Sitecore.PathAnalyzer.Services</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>
