<?xml version="1.0" encoding="Windows-1252"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Commerce.ExperienceAnalytics.ReportingCurrencyCode" value="USD"/>
    </settings>
    
    <commerce-experienceAnalytics>
      <currencyConverter type="Sitecore.Commerce.ExperienceAnalytics.Currency.DefaultCurrencyConverter, Sitecore.Commerce.ExperienceAnalytics" />
    </commerce-experienceAnalytics>

    <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{7AFAFFBA-E3A2-40A1-9CAB-1315F8579AF3}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByProductVisited, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{FA4681C6-8538-4F61-9E33-8C874EF40712}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByProductPurchased, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{2C744969-7B2F-434D-BF6F-962E8236D3FF}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCategoryVisited, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{954E9F12-B232-4EC2-B6E8-A21F6A2761EB}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByOrder, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{B8D212D6-3D5E-4347-B2F7-1D3EF330D4AB}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCartAdditions, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{C8C4408F-BD38-4D48-8721-F0B11455C6AA}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCartRemovals, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{2AD670A2-8DCD-4818-AF29-27E562B18E0E}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCartUpdates, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{36C639F8-BAD4-4324-A637-19696CABB3B9}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByWishListAdditions, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{FE576E0B-C3B2-44F2-AD19-A6E76DF73CA0}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByWishListRemovals, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{C488E28F-48CF-47DA-B74B-CB2BDBBC8FBB}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByWishListUpdates, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{9E142248-2A43-45D2-AAD2-444A2AEA98FA}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByLoyaltyPrograms, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{55C6BA67-9732-4936-AAFA-817CEB3440EA}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByFacetsApplied, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{E21B6398-C619-461A-AFE2-5CAD37E7A66A}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCultureSelected, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{3DBF95A9-FAE7-459E-9B89-D36DBB4A241F}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.BySortOptions, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{39985858-BBEE-4730-B170-00B4F60AED30}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.BySearchTerms, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{DDD17CFF-DD59-4E4E-A0A3-55B3ABC83B1E}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.BySearchTermPurchases, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{3E0CFEAE-4D2F-4929-8103-D497D877D99B}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCampaignForOrdersPlaced, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{441A70ED-41F3-42D2-AC8B-260785E5305D}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByGiftCardPurchases, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{F6FCC476-6BBB-40E7-86E5-B1947AAA0120}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByLoyaltyCardPurchases, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{B59FD4BE-0995-4776-B778-1B56A28FAA52}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByPaymentMethods, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{FF61F593-AB56-4FB8-81A1-C51B06C7A297}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByShippingMethods, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{282381AD-3769-4049-AC26-1F1F946EAEC5}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByUserRegistrations, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{A9417963-A4A2-47BB-9FBC-9DFA68351637}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCustomerOrders, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{FA282C5B-A373-4B89-9977-18A8498EE53E}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByContactOrders, Sitecore.Commerce.ExperienceAnalytics"/>
        </dimensions>
      </aggregation>

      <api>
        <dimensions>
          <dimension id="{7AFAFFBA-E3A2-40A1-9CAB-1315F8579AF3}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByProductVisited, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CatalogItemTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{2C744969-7B2F-434D-BF6F-962E8236D3FF}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCategoryVisited, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CatalogItemTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{FA4681C6-8538-4F61-9E33-8C874EF40712}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByProductPurchased, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CatalogItemTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{3DBF95A9-FAE7-459E-9B89-D36DBB4A241F}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.BySortOptions, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.SortOptionsTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{3E0CFEAE-4D2F-4929-8103-D497D877D99B}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCampaignForOrdersPlaced, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CampaignTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{A9417963-A4A2-47BB-9FBC-9DFA68351637}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCustomerOrders, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CustomerOrdersTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{FA282C5B-A373-4B89-9977-18A8498EE53E}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByContactOrders, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.ContactOrdersTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{B8D212D6-3D5E-4347-B2F7-1D3EF330D4AB}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCartAdditions, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CatalogItemTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{C8C4408F-BD38-4D48-8721-F0B11455C6AA}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCartRemovals, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CatalogItemTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{2AD670A2-8DCD-4818-AF29-27E562B18E0E}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCartUpdates, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CatalogItemTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{36C639F8-BAD4-4324-A637-19696CABB3B9}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByWishListAdditions, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CatalogItemTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{FE576E0B-C3B2-44F2-AD19-A6E76DF73CA0}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByWishListRemovals, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CatalogItemTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
          <dimension id="{C488E28F-48CF-47DA-B74B-CB2BDBBC8FBB}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByWishListUpdates, Sitecore.Commerce.ExperienceAnalytics">
            <transformer type="Sitecore.Commerce.ExperienceAnalytics.Transformers.CatalogItemTransformer, Sitecore.Commerce.ExperienceAnalytics"/>
          </dimension>
        </dimensions>
      </api>

      <reduce>
        <dimensions>
          <dimension id="{7AFAFFBA-E3A2-40A1-9CAB-1315F8579AF3}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByProductVisited, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{FA4681C6-8538-4F61-9E33-8C874EF40712}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByProductPurchased, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{2C744969-7B2F-434D-BF6F-962E8236D3FF}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCategoryVisited, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{954E9F12-B232-4EC2-B6E8-A21F6A2761EB}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByOrder, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{B8D212D6-3D5E-4347-B2F7-1D3EF330D4AB}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCartAdditions, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{C8C4408F-BD38-4D48-8721-F0B11455C6AA}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCartRemovals, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{2AD670A2-8DCD-4818-AF29-27E562B18E0E}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCartUpdates, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{36C639F8-BAD4-4324-A637-19696CABB3B9}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByWishListAdditions, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{FE576E0B-C3B2-44F2-AD19-A6E76DF73CA0}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByWishListRemovals, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{C488E28F-48CF-47DA-B74B-CB2BDBBC8FBB}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByWishListUpdates, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{9E142248-2A43-45D2-AAD2-444A2AEA98FA}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByLoyaltyPrograms, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{55C6BA67-9732-4936-AAFA-817CEB3440EA}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByFacetsApplied, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{E21B6398-C619-461A-AFE2-5CAD37E7A66A}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCultureSelected, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{3DBF95A9-FAE7-459E-9B89-D36DBB4A241F}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.BySortOptions, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{39985858-BBEE-4730-B170-00B4F60AED30}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.BySearchTerms, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{DDD17CFF-DD59-4E4E-A0A3-55B3ABC83B1E}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.BySearchTermPurchases, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{3E0CFEAE-4D2F-4929-8103-D497D877D99B}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCampaignForOrdersPlaced, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{441A70ED-41F3-42D2-AC8B-260785E5305D}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByGiftCardPurchases, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{F6FCC476-6BBB-40E7-86E5-B1947AAA0120}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByLoyaltyCardPurchases, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{B59FD4BE-0995-4776-B778-1B56A28FAA52}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByPaymentMethods, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{FF61F593-AB56-4FB8-81A1-C51B06C7A297}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByShippingMethods, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{282381AD-3769-4049-AC26-1F1F946EAEC5}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByUserRegistrations, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{A9417963-A4A2-47BB-9FBC-9DFA68351637}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByCustomerOrders, Sitecore.Commerce.ExperienceAnalytics"/>
          <dimension id="{FA282C5B-A373-4B89-9977-18A8498EE53E}" type="Sitecore.Commerce.ExperienceAnalytics.Dimensions.ByContactOrders, Sitecore.Commerce.ExperienceAnalytics"/>
        </dimensions>
      </reduce>
    </experienceAnalytics>
  </sitecore>
</configuration>