<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!-- INDEXES -->
    <listManagementSearch>
      <indexConfigurations>
        <listManagementLuceneIndexConfiguration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
          <fieldMap ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldMap">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="name" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="description" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="owner" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="recipients" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="source.includedlists" storageType="YES" indexType="NOT_ANALYZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <field fieldName="source.excludedlists" storageType="YES" indexType="NOT_ANALYZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <field fieldName="source.predefinedsourcetype" storageType="YES" indexType="NOT_ANALYZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <field fieldName="source.predefinedparameters" storageType="YES" indexType="NOT_ANALYZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <field fieldName="source.usealldatabase" storageType="YES" indexType="NOT_ANALYZED" vectorType="NO" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <field fieldName="segmentation" storageType="YES" indexType="NOT_ANALYZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <field fieldName="__fullcreateddate"   storageType="YES"  indexType="TOKENIZED"   vectorType="NO" boost="1f" type="System.DateTime" format="yyyyMMddTHHmmss" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="__fullupdateddate"   storageType="YES"  indexType="TOKENIZED"   vectorType="NO" boost="1f" type="System.DateTime" format="yyyyMMddTHHmmss" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="source.includedlists" itemFieldName="IncludedSources">Sitecore.ListManagement.ContentSearch.Fields.MappedIndexField,Sitecore.ListManagement.ContentSearch</field>
            <field fieldName="source.excludedlists" itemFieldName="ExcludedSources">Sitecore.ListManagement.ContentSearch.Fields.MappedIndexField,Sitecore.ListManagement.ContentSearch</field>
            <field fieldName="source.predefinedsourcetype" itemFieldName="PredefinedSourceType">Sitecore.ListManagement.ContentSearch.Fields.MappedIndexField,Sitecore.ListManagement.ContentSearch</field>
            <field fieldName="source.predefinedparameters" itemFieldName="PredefinedParameters">Sitecore.ListManagement.ContentSearch.Fields.MappedIndexField,Sitecore.ListManagement.ContentSearch</field>
            <field fieldName="source.usealldatabase" itemFieldName="UseAllDatabase">Sitecore.ListManagement.ContentSearch.Fields.MappedIndexField,Sitecore.ListManagement.ContentSearch</field>
            <field fieldName="segmentation" itemFieldName="Query">Sitecore.ListManagement.ContentSearch.Fields.MappedIndexField,Sitecore.ListManagement.ContentSearch</field>
            <field fieldName="__fullcreateddate">Sitecore.ContentSearch.ComputedFields.CreatedDate,Sitecore.ContentSearch</field>
            <field fieldName="__fullupdateddate">Sitecore.ContentSearch.ComputedFields.UpdatedDate,Sitecore.ContentSearch</field>
          </fields>
          <!-- INDEX DOCUMENT TO PROPERTY MAPPER
               Maintains a collection of all the possible Convertors for the provider.
          -->
          <indexDocumentPropertyMapper type="Sitecore.ContentSearch.LuceneProvider.DefaultLuceneDocumentTypeMapper, Sitecore.ContentSearch.LuceneProvider">
            <!-- OBJECT FACTORY
                 Constructs search result objects based on the type that is passed in .GetQueryable<T>() and the rules defined in this section.
            -->
            <objectFactory type="Sitecore.ContentSearch.DefaultDocumentMapperObjectFactory, Sitecore.ContentSearch">
              <rules hint="list:AddRule">
                <rule fieldName="_template" comparison="Equal" value="c0caf6988a424b669eaf7d442b46f722" valueType="System.String, mscorlib"
                      creationType="Sitecore.ListManagement.ContentSearch.Model.SegmentedList, Sitecore.ListManagement.ContentSearch"
                      baseType="Sitecore.ListManagement.ContentSearch.Model.ContactList, Sitecore.ListManagement.ContentSearch"
                      type="Sitecore.ContentSearch.DefaultDocumentMapperFactorySimpleRule, Sitecore.ContentSearch">
                  <param desc="fieldName">$(fieldName)</param>
                  <param desc="comparison">$(comparison)</param>
                  <param desc="value">$(value)</param>
                  <param desc="type">$(valueType)</param>
                  <param desc="creationType">$(creationType)</param>
                  <param desc="baseType">$(baseType)</param>
                </rule>
              </rules>
            </objectFactory>
          </indexDocumentPropertyMapper>
        </listManagementLuceneIndexConfiguration>
      </indexConfigurations>
    </listManagementSearch>
  </sitecore>
</configuration>