<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file configures the application dependencies for content testing.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <appDependencies>
      <xdb>
        <app id="{2D77A85B-40AD-4376-B44B-1D567B4FE438}" name="Experience Optimization"/>
      </xdb>
      <contentTesting dependencyEvaluator="Sitecore.ContentTesting.Applications.Dependencies.DependencyEvaluator, Sitecore.ContentTesting">
        <app id="{2D77A85B-40AD-4376-B44B-1D567B4FE438}" name="Experience Optimization"/>
      </contentTesting>
    </appDependencies>
  </sitecore>
</configuration>