<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file enables and configures extensions to the rule editor to show rule performance.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderRulePlaceholder.afterAction>
          
        <!-- Processor to display reach (exposure) for rule in rules editor -->
        <processor type="Sitecore.ContentTesting.Pipelines.RenderRulePlaceholder.AfterAction.Reach, Sitecore.ContentTesting" />
          
        <!-- Processor to display effect of the rule in the rules editor -->
        <processor type="Sitecore.ContentTesting.Pipelines.RenderRulePlaceholder.AfterAction.Effect, Sitecore.ContentTesting" />
          
      </renderRulePlaceholder.afterAction>
    </pipelines>
  </sitecore>
</configuration>