<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures communication with the CES discovery service.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  CES - DISCOVERY - MAX DISCOVERY SERVICE REQUEST ATTEMPTS
            Specifies the maximum number of attempts that can be made to request the CES endpoints from the CES Discovery service.
            If a request fails because of a connection issue, then it is repeated.
            
            Default value: 3
      -->
      <setting name="CES.Discovery.MaxDiscoveryServiceRequestAttempts" value="3"/>
    </settings>
  </sitecore>
</configuration>