<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures communication with the CES IP Geolocation service.
It configures the lookup manager to get the geolocation information for the specified IP from the Sitecore IP Geolocation service.

Enable the IP geolocation information cache when xDB is disabled.
See the description of the CES.GeoIp.Caching.GeoIpCacheSize setting for details.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  GEO IP WEB REQUEST FACTORY
          Creates a web request to acquire the CES IP Geolocation service.
    -->
    <GeoIpWebRequestFactory type="Sitecore.CES.Client.WebRequestFactory, Sitecore.CES" singleInstance="true" />

    <!--  GEO IP WEB CLIENT
          Requests the CES IP Geolocation service and reads the response body.
          MaxAttemps specifies the maximum number of attempts that the web client will make to acquire the CES IP Geolocation service.
    -->
    <GeoIpWebClient type="Sitecore.CES.Client.WebClient, Sitecore.CES" singleInstance="true">
      <param ref="GeoIpWebRequestFactory" />
    </GeoIpWebClient>

    <!--  GEO IP RESPONSE PARSER
          Parses the CES IP Geolocation service response.
    -->
    <GeoIpResponseParser type="Sitecore.CES.GeoIp.GeoIpResponseParser, Sitecore.CES.GeoIp" singleInstance="true" />

    <!--  GEO IP CONNECTOR
          Requests the IP Geolocation service and parses its response.
          ResourcePath specifies the path to geo IP resource.                    
    -->
    <GeoIpConnector type="Sitecore.CES.Client.ResourceConnector`1[[Sitecore.Analytics.Model.WhoIsInformation, Sitecore.Analytics.Model]], Sitecore.CES" singleInstance="true">
      <param ref="GeoIpWebClient" />
      <param ref="GeoIpResponseParser" />
      <param name="ResourcePath">/lookup/geoip/{0}</param>
    </GeoIpConnector>

    <!--
          Configures the lookup manager to utilize this implementation of a lookup provider.
          This implementation gets the geo information for the specified IP from Sitecore IP Geolocation service.
    -->
    <lookupManager defaultProvider="default">
      <providers>
        <add>
          <x:attribute name="type">Sitecore.CES.GeoIp.SitecoreProvider, Sitecore.CES.GeoIp</x:attribute>
          <param ref="GeoIpConnector" />
        </add>
      </providers>
    </lookupManager>

    <pipelines>
      <!--  HANDLE LOOKUP ERROR
            Handles exceptions happened when look up for IP geo information.
      -->
      <ces.geoIp.handleLookupError>
        <processor type="Sitecore.CES.GeoIp.Pipelines.HandleLookupError.IpAddressNotFound, Sitecore.CES.GeoIp"/>
      </ces.geoIp.handleLookupError>

      <!--  PARSE RESPONSE
            Parses the response from the Sitecore IP Geolocation service.
      -->
      <ces.geoIp.parseResponse>
        <processor type="Sitecore.CES.Pipelines.ParseResponse.ReadJsonResponse`1[[Sitecore.Analytics.Model.WhoIsInformation, Sitecore.Analytics.Model]], Sitecore.CES" />
        <processor type="Sitecore.CES.GeoIp.Pipelines.ParseResponse.MapGeoIpResponse, Sitecore.CES.GeoIp" />
      </ces.geoIp.parseResponse>
    </pipelines>

    <settings>
      <!--  CES - GEO IP - CACHING - GEO IP CACHE EXPIRY TIME
            Specifies the length of time that IP Geolocation information cache entries should be stored if they have not been accessed. 
            
            Default value: 1:00:00:00 (1 day)
      -->
      <setting name="CES.GeoIp.Caching.GeoIpCacheExpiryTime" value="1:00:00:00"/>

      <!--  CES - GEO IP - CACHING - GEO IP CACHE SIZE
            Specifies  the size of the IP Geolocation information cache.
            Specify the value in bytes or append the value with KB, MB or GB.
            A value of 0 (zero) disables the cache.
            
            This cache is disabled by default, because IP geolocation information is cached with the analytics information.
            It should be enabled when analytics caching is turned off. For example, when xDB is disabled.

            
            Default value: 0 (zero)
      -->
      <setting name="CES.GeoIp.Caching.GeoIpCacheSize" value="0"/>

      <!--  CES - GEO IP - GEO IP SERVICE NAME
            Specifies the name of the CES IP Geolocation service.
            
            Default value: GeoIP
      -->
      <setting name="CES.GeoIp.GeoIpServiceName" value="GeoIP"/>
    </settings>
  </sitecore>
</configuration>
