<?xml version="1.0" encoding="utf-8" ?>
<!--
    
Purpose: This include file configures the plugin for the Social Connected module that enables integration with Twitter (http://twitter.com/).

Please read the Sitecore Social Connected documentation before changing the configuration.
    
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      
      <!-- SOCIAL - TWITTER - DEFAULT TWEET GOAL
           The Sitecore Social Connected goal that is triggered when a visitor clicks the "Tweet" button.
           Default value: Tweet
      -->
      <setting name="Social.Twitter.DefaultTweetGoal" value="Tweet"/>
      
    </settings>

    <social>
      <api>
        <domainMessageBuilders>
          <builder networkName="Twitter"
                   builderType="Sitecore.Social.Twitter.Client.Builders.TwitterDomainMessageBuilder,Sitecore.Social.Twitter.Client" />
        </domainMessageBuilders>
        <messageDataBuilders>
          <builder messageItemBaseType="Sitecore.Social.Twitter.MessagePosting.Items.TwitterMessageItem, Sitecore.Social.Twitter"
                   messageDataType="Sitecore.Social.Twitter.Api.Model.TwitterMessageData,Sitecore.Social.Twitter.Api"
                   builderType="Sitecore.Social.Twitter.Api.Builders.TwitterMessageDataBuilder,Sitecore.Social.Twitter.Api" />
        </messageDataBuilders>
      </api>
      <networks>
        <network name="Twitter" ItemId="{F30A7941-3327-4CA0-9FFD-B019857F27DE}" prefix="tw" icon="twitter2" url="http://twitter.com">
          <items>
            <message type="Sitecore.Social.Twitter.MessagePosting.Items.TwitterMessageItem, Sitecore.Social.Twitter"
                     MessageTemplateId="{E28734CA-89EB-4530-B0E4-B81F6645A372}"
                     Renderer="Sitecore.Social.Twitter.Client.MessagePosting.Renderers.TwitterMessageRenderer, Sitecore.Social.Twitter.Client"
                     TextLimit="119" />
          </items>
          <messagePosting>
            <campaigns rootCampaignItemId="{AE265061-6E39-4BF9-8640-E670227E8D04}" channelId="{6D3D2374-AF56-44FE-B99A-20843B440B58}">
              <campaign postingConfiguration="ContentPosting" itemId="{C792EC69-ADE9-479C-8FA6-1425E604A9DA}"/>
              <campaign postingConfiguration="GoalPosting" itemId="{C621EB54-310C-4DA2-ABB0-6792212B510E}"/>
            </campaigns>
            <publisher type="Sitecore.Social.Twitter.MessagePosting.Providers.TwitterMessagePostingProvider, Sitecore.Social.Twitter"/>
          </messagePosting>
          <providers>
            <provider type="Sitecore.Social.Twitter.Networks.Providers.TwitterProvider, Sitecore.Social.Twitter"/>
          </providers>
        </network>
      </networks>
    </social>

  </sitecore>
</configuration>
