<?xml version="1.0" encoding="utf-8" ?>
<!--
    
Purpose: Purpose: This include file defines a number of processors for the pipelines that are executed when the system indexes experience data.
   
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <contactindexable.loadfields>
        <!-- Populates collection of Facebook fields for indexing. -->
        <processor type="Sitecore.Social.Facebook.Connector.ContentSearch.Analytics.Pipelines.ContactIndexableLoadFields.LoadFacebookFields, Sitecore.Social.Facebook" />
      </contactindexable.loadfields>
    </pipelines>
  </sitecore>
</configuration>
