<?xml version="1.0" encoding="utf-8"?>
<!--
    
Purpose: This include file configures the Social Connected facets on a contact.
   
-->
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone OR ContentDelivery OR ContentManagement OR Processing OR Reporting">
    <model>
      <elements>
        <element interface="Sitecore.Social.Connector.Facets.Contact.SocialProfile.ISocialProfileFacet, Sitecore.Social" implementation="Sitecore.Social.Connector.Facets.Contact.SocialProfile.SocialProfileFacet, Sitecore.Social" />
        <element interface="Sitecore.Social.Connector.Facets.Contact.SocialProfile.INetworkElement, Sitecore.Social" implementation="Sitecore.Social.Connector.Facets.Contact.SocialProfile.NetworkElement, Sitecore.Social" />
        <element interface="Sitecore.Social.Connector.Facets.Contact.SocialProfile.IFieldElement, Sitecore.Social" implementation="Sitecore.Social.Connector.Facets.Contact.SocialProfile.FieldElement, Sitecore.Social" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="SocialProfile" contract="Sitecore.Social.Connector.Facets.Contact.SocialProfile.ISocialProfileFacet, Sitecore.Social" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>