<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the device detection component.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <hooks>
      <!-- Ensures the device detection component initialization. -->
      <hook type="Sitecore.CES.DeviceDetection.Hooks.EnsureDeviceDetectionInitialization, Sitecore.CES.DeviceDetection"></hook>
    </hooks>
    
    <!--  DEVICE DETECTION MANAGER
          Provide device detection information.
    -->
    <deviceDetectionManager defaultProvider="netbiscuits">
      <providers>
        <clear />
        <add name="netbiscuits" type="Sitecore.CES.DeviceDetection.Netbiscuits.DeviceInformationProviderNetbiscuits, Sitecore.CES.DeviceDetection" />
      </providers>
    </deviceDetectionManager>

    <settings>
      <!-- DEVICE DETECTION ENABLE
            Determines whether device detection is enabled or not.
            Default value: true
      -->
      <setting name="DeviceDetection.Enabled" value="true" />

      <!-- DEVICE DETECTION CACHE SIZE
             Specifies the size of the DeviceDetection cache.
             Specify the value in bytes or append the value with KB, MB or GB
             A value of 0 (zero) disables the cache.
        -->
      <setting name="DeviceDetection.DeviceDetectionCacheSize" value="10MB" />

      <!-- DEVICE DETECTION SERVICE NAME
              Specifies the name of the device detection service.
      -->
      <setting name="DeviceDetection.ServiceName" value="DeviceDetection" />

      <!-- DEVICE DETECTION DATABASE UPDATE CHECK INTERVAL
              Specifies how often database update checks are performed.
              The default value: 1.00:00:00 (1 day)
      -->
      <setting name="DeviceDetection.DatabaseUpdateCheckInterval" value="1.00:00:00" />

      <!-- DEVICE DETECTION FAIL DATABASE CHECK INTERVAL
              Specifies how often to retry initialize database in case of initialize fail.
              The default value: 00:10:00 (10 minutes)
       -->
      <setting name="DeviceDetection.FailDatabaseCheckInterval" value="00:10:00"/>

      <!-- DEVICE DETECTION ENSURE INITIALIZATION TIMEOUT
              Specifies how long EnsureInitialization method will wait for provider initialization.
              The default value: 00:02:00 (2 minutes)
       -->
      <setting name="DeviceDetection.CheckInitializationTimeout" value="00:02:00"/>

      <!-- DEVICE DETECTION DATABASE PATH
              Specifies the path where device databases are stored.
              The default value: /App_Data/DeviceDetection
      -->
      <setting name="DeviceDetection.DatabasePath" value="/App_Data/DeviceDetection" />
    </settings>
  </sitecore>
</configuration>
