<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures communication with the CES IP Geolocation service 
to replace the regional information acquired from the CES IP Geolocation service 
with the appropriate legacy value to maintain backwards compatibility.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  LEGACY LOCATION SOURCE
          Provides legacy values for IP Geolocation regions.
    -->
    <LegacyLocationSource type="Sitecore.CES.GeoIp.LegacyLocation.LegacyLocationSource, Sitecore.CES.GeoIp.LegacyLocation" singleInstance="true" />

    <!--
          Adds a processor to the ces.geoIp.parseResponse pipeline, which replaces the region information acquired from the CES IP Geolocation service with the appropriate legacy value to maintain backwards compatibility.
    -->
    <pipelines>
      <ces.geoIp.parseResponse>
        <processor type="Sitecore.CES.GeoIp.LegacyLocation.Pipelines.ParseResponse.SetRegionToLegacyValue, Sitecore.CES.GeoIp.LegacyLocation" patch:after="processor[@type='Sitecore.CES.GeoIp.Pipelines.ParseResponse.MapGeoIpResponse, Sitecore.CES.GeoIp']">
          <param ref="LegacyLocationSource" />
        </processor>
      </ces.geoIp.parseResponse>
    </pipelines>

    <settings>
      <!--  CES - GEO IP - LEGACY LOCATION - CACHING - LEGACY LOCATION LIST CACHE SIZE
            Determines the size of the legacy location list cache.
            Specify the value in bytes or append the value with KB, MB or GB
            A value of 0 (zero) disables the cache.
            
            Default value: 12MB
      -->
      <setting name="CES.GeoIp.LegacyLocation.Caching.LegacyLocationListCacheSize" value="12MB" />
    </settings>
  </sitecore>
</configuration>