<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController desc="SupportPackageFileController">Sitecore.ExperienceContentManagement.Administration.Controllers.SupportPackageFileController,Sitecore.ExperienceContentManagement.Administration</allowedController>
            <allowedController desc="SupportPackageRequestController">Sitecore.ExperienceContentManagement.Administration.Controllers.SupportPackageRequestController,Sitecore.ExperienceContentManagement.Administration</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <commands>
      <command name="admin:showadminpage" type="Sitecore.ExperienceContentManagement.Administration.Commands.ShowAdminPage,Sitecore.ExperienceContentManagement.Administration"/>
    </commands>
    <events>
      <event name="support:package:requested">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnRequested" />
      </event>
      <event name="support:package:requested:remote">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnRequested" />
      </event>
      <event name="support:package:generating">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnGenerating" />
      </event>
      <event name="support:package:generating:remote">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnGenerating" />
      </event>
      <event name="support:package:generated">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnGenerated" />
      </event>
      <event name="support:package:generated:remote">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnGenerated" />
      </event>
      <event name="support:package:cleanup">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnCleanup" />
      </event>
      <event name="support:package:cleanup:remote">
        <handler type="Sitecore.ExperienceContentManagement.Administration.SupportPackageEventHandler, Sitecore.ExperienceContentManagement.Administration" method="OnCleanup" />
      </event>
    </events>
    <hooks>
      <hook type="Sitecore.ExperienceContentManagement.Administration.Hooks.SupportPackageHook, Sitecore.ExperienceContentManagement.Administration" />
    </hooks>
    <settings>
      <!--  SUPPORT PACKAGE RESPONSE TIMEOUT
            Specifies the time out for responding to support package generation requests by remote Sitecore instances. 
            Default value: 00:00:30
      -->
      <setting name="SupportPackage.ResponseTimeout" value="00:00:30" />
      <!--  SUPPORT PACKAGE COLLECTION TIMEOUT
            Specifies the time out for generating support packages by remote Sitecore instances. 
            Default value: 00:05:00
      -->
      <setting name="SupportPackage.CollectionTimeout" value="00:05:00" />
      <!--  SUPPORT PACKAGE DIAGNOSTICS SERVICE URL
            Specifies the diagnostics service endpoint URL for support package uploading.
            Default value: https://diagnostics.cloud.sitecore.net/api/v1
      -->
      <setting name="SupportPackage.DiagnosticsServiceUrl" value="https://diagnostics.cloud.sitecore.net/api/v1" />
    </settings>
  </sitecore>
</configuration>
