<!--

Purpose: This include file needs to be enabled in Reporting Service Environment.

It enables the components and features related to segment records reduce functionality.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <hooks>
      <!-- Hook to load the reduce subsystem. -->
      <hook desc="reduceLoader" type="Sitecore.ExperienceAnalytics.Core.SubSystemLoader, Sitecore.ExperienceAnalytics.Core" >
        <param desc="logger" ref="experienceAnalytics/reduce/logger" />
        <param desc="subsystemToLoad" ref="experienceAnalytics/reduce/subsystem" />
      </hook>
    </hooks>
    <experienceAnalytics>
      <reduce>
        <patch:attribute name="enabled" value="true"/>
        <logger type="Sitecore.ExperienceAnalytics.Core.Diagnostics.Logger, Sitecore.ExperienceAnalytics.Core" singleInstance="true"/>

        <!-- Reduce subsystem definition -->
        <subsystem type="Sitecore.Analytics.Core.Subsystem" singleInstance="true">
          <BackgroundServices hint="list:Add">
            <reduce type="Sitecore.Analytics.Core.BackgroundService">
              <param desc="agentName">experienceAnalytics/reduce/agent</param>
              <Interval>0.00:00:30</Interval>
              <MaxThreads>1</MaxThreads>
            </reduce>
          </BackgroundServices>
        </subsystem>
        <!-- Agent that runs reduce process by executing ReduceManager (see below) on interval basis
              Parameters:
             - 'connectionStringName' - specifies the connection string name of the target database.
                Default: "reporting"
             - 'triggerHour' - specifies that the reduce is expected to run only after this time.
                Default: 1 (1AM in local server time)
        -->
        <agent type="Sitecore.ExperienceAnalytics.Reduce.ReduceAgent, Sitecore.ExperienceAnalytics.Reduce" >
          <param desc="connectionStringName">reporting</param>
          <param desc="triggerHour">1</param>
          <param desc="logger" ref="experienceAnalytics/reduce/logger"/>
          <param ref="experienceAnalytics/reduce/manager"/>
        </agent>
        <!-- Reduce Manager runs the segment records reduce process on the target database.
             Parameters:
             - 'connectionStringName' - specifies the connection string name of the target database.
                Default: "reporting"
             - 'retentionDays' - number of days to keep the records non-reduced.
                This parameter also specifies the date for which to perform the reduce, i.e.:
                (DateTime.Now in local server time - retentionDays).
                Default: 7 (7 days)
        -->
        <manager type="Sitecore.ExperienceAnalytics.Reduce.ReduceManager, Sitecore.ExperienceAnalytics.Reduce">
          <param desc="connectionStringName">reporting</param>
          <param desc="retentionDays">7</param>
          <param desc="logger" ref="experienceAnalytics/reduce/logger"/>
        </manager>
        <services>
          <!-- AggregationSegmentRepository is responsible for reading/writing data to/from the Segments dimension table in RDB.
               The 'connectionStringName' parameter the name of the connection string of the RDB instance to connect to.
               Default: "reporting"
          -->
          <aggregationSegmentRepository type="Sitecore.ExperienceAnalytics.Aggregation.Repositories.AggregationSegmentLocalSqlRepository, Sitecore.ExperienceAnalytics.Aggregation">
            <param desc="connectionStringName">reporting</param>
            <param desc="logger" ref="experienceAnalytics/reduce/logger"/>
          </aggregationSegmentRepository>

          <!-- SiteDefinitionService is responsible for reading data from the SiteNames dimension table in RDB.
               The 'connectionStringName' parameter the name of the connection string of the RDB instance to connect to.
               Default: "reporting"
          -->
          <siteDefinitionService type="Sitecore.ExperienceAnalytics.Core.Repositories.LocalSiteDefinitionService, Sitecore.ExperienceAnalytics.Core">
            <param desc="connectionStringName">reporting</param>
          </siteDefinitionService>

          <!-- DimensionDefinitionService is responsible for instantiating Experience Analytics Dimensions objects from configuration.
               The 'pathToConfigNode' parameter specifies the element where the dimensions are expected to be configured.
               Default: "experienceAnalytics/aggregation/dimensions"
           -->
          <dimensionDefinitionService type="Sitecore.ExperienceAnalytics.Aggregation.Repositories.DimensionConfigReader, Sitecore.ExperienceAnalytics.Aggregation" singleInstance="true">
            <param desc="pathToConfigNode">experienceAnalytics/reduce/dimensions</param>
            <param desc="logger" ref="experienceAnalytics/reduce/logger"/>
          </dimensionDefinitionService>
        </services>
        <!-- This section hosts the definitions of the Experience Analytics dimensions
            'id' attribute is the unique identifier and should match the ID of the corresponding dimension definition item in Marketing Control Panel
            'type' attribute references the fully qualified class name and assembly name with the dimension implementation.
        -->
        <dimensions>
          <dimension id="{EF129780-FFCF-4EAF-B429-80D25315248E}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{A1BCAB9A-1A98-4A3D-A58F-34ACF7931C49}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{214E8E8C-519A-4803-8579-3CA466F9F29F}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{988A1D00-9D00-4F05-97EC-DF3391F8CCE7}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByCountry, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{1879168B-AF5E-4E9C-9DAE-8B71125F2AD2}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByRegion, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{6237CC24-4FF5-4869-B898-FC6A534F3C3E}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByChannelType, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{86CA3214-A950-4EEF-BEE6-A2C5CF6FAC24}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByChannel, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{595A12E2-CEF6-4B1C-9990-83FDD7173533}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByChannelGroup, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{33ACD611-FE19-4769-99F9-1EF1D997BDC5}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByCity, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{42C02019-CCB4-4C49-BD4E-B736C6698089}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByAsset, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{DACF0445-EDB1-4A90-851E-380DC6A36541}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByDownloads, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{A8EC3E11-A417-4624-A612-12A406284D4B}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByCampaignGroup, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{3E01BA28-2B4D-408A-A4BA-6C51ED9FFB9C}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByCampaign, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{6295C8F0-5ACB-4634-A1D6-6D3248EC210C}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByLanguage, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{C001F4B2-0523-436E-9097-AD4E39D51835}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByPattern, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{E6CC7A2B-6E72-40CE-9315-88F4617CDB10}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByReferringSite, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{F197D8FF-D4C8-42DF-BC6E-512F17292674}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByPage, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{81379156-7721-4EE5-8951-AE92E1CDF090}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByEntryPage, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{3DC11B43-1D7F-4169-A87D-291D57ECEDA6}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByExitPage, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{F2C1CCBF-C2D6-4FF9-A3BF-DD55E60071A2}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByPageUrl, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{6B945AE7-673F-412A-96F8-F53EF9D63BBC}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByEntryPageUrl, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{CBD2E37E-CC79-4A5A-8B3B-95F6B7D7FF53}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByExitPageUrl, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{CBEE2CF5-51DB-4106-A7A9-BF87AB173742}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByLocalSearchKeyword, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{DF6FCD1E-CBCA-4747-9109-ABF132189A01}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.BySearchKeyword, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{8345E6DF-8982-4F32-B478-40D672E914BB}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByPageviews, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{6DD3E3A7-FE91-4860-9BF6-388863AD7C9D}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByConversions, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{6F502E86-5CDB-4D4E-B3A1-905D41B86E9F}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByGoal, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{197EB127-284D-436A-A576-486A7B01013E}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByAssetGroup, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{D6BC9E66-E51A-4481-AAE2-F31189CCA572}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByOutcome, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{A23E7058-5A8C-426F-A417-927D3F7DF487}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByOutcomeGroup, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{87F05F2A-D4A0-43DA-8676-196639D3F6A8}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByCampaignFacetGroup, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{1A0F92E9-A2CC-41D9-8D1B-B0839CB1104B}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByCampaignFacet, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{D551A7B4-535F-4138-8361-7B12BF9216A4}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{232D5449-4DBB-4101-8A0E-41E003A91484}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByGoalFacetGroup, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{E5D56897-23D1-46F3-B8FB-D351C1CAFB7E}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{D135E856-FC48-4F6E-987F-5566A180215D}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByGoalFacet, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{84AF4324-8096-4A5E-9C5C-DBBE92D814D3}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceType, Sitecore.ExperienceAnalytics.Aggregation" />
          <dimension id="{CC287753-DFF8-470A-B586-A23DA9B80ECA}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceModel, Sitecore.ExperienceAnalytics.Aggregation" />
        </dimensions>
      </reduce>
    </experienceAnalytics>
    <settings>
      <!-- EXPERIENCE ANALYTICS - REDUCE - DEFAULT KEEP COUNT THRESHOLD
           If the number of segment records exceeds this value,
           the reduce operation will take top X records sorted by Visits and Value and ignore all other thresholds.
           For example, it will take top 1000 records per segment, date and site, and will collapse the rest of the records,
           but only if the number of original records exceeds 1000.
           Default value: 1000
        -->
      <setting name="ExperienceAnalytics.Reduce.DefaultKeepCountThreshold" value="1000" />

      <!-- EXPERIENCE ANALYTICS - REDUCE - DEFAULT VALUE THRESHOLD
           Similar to DefaultVisitThreshold, but the check is performed against the "Value" metric.
           Since there could be negative values, the check is performed in absolute value.
           By default, this threshold is inactive and reserved for special cases.
           Default value: -1 (disabled)
        -->
      <setting name="ExperienceAnalytics.Reduce.DefaultValueThreshold" value="-1" />

      <!-- EXPERIENCE ANALYTICS - REDUCE - DEFAULT VISIT THRESHOLD
           Identifies the threshold for the "Visits" metric when a segment record to be considered significant, i.e. excluded from "long tail".
           If it is set to 10, for example, then any segment record with less than 10 visit metric will be considered insignificant
           and will be reduced as a part of the "long tail".
           IMPORTANT: This threshold will be taken into account only if the number of original records is less than value of KeepCountThreshold.
           Default value: 10
        -->
      <setting name="ExperienceAnalytics.Reduce.DefaultVisitThreshold" value="10" />

      <!-- EXPERIENCE ANALYTICS - REDUCE - TIMEOUT
           The maximum amount of time the reducer can run. After this amount of time, the reducer will be aborted. 
           Default value: 1 hour
        -->
      <setting name="ExperienceAnalytics.Reduce.Timeout" value="01:00:00" />
    </settings>
  </sitecore>
</configuration>