<!--

Purpose: This include file needs to be enabled in Reporting and Processing roles in scaling environment. 
          It configures the storage providers for reporting purposes and segment definition service for deployment of segments.

It extends the default implementation of IDefinitionsStorageProvider with ability to support custom deployable definitions.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <aggregation>
      <!-- Patching the default reportingStorageProviders to be re-routed to the custom IDefinitionsStorageProvider defined in experienceAnalytics section below.-->
      <reportingStorageProviders>
        <primary>
          <storageProviders hint="list:AddCustomProviders">
            <segments type="Sitecore.ExperienceAnalytics.Client.Deployment.AggregationSegmentStorageProvider, Sitecore.ExperienceAnalytics.Client" singleInstance="true">
              <param ref="experienceAnalytics/deployment/services/aggregationSegmentRepository"/>
              <param ref="experienceAnalytics/deployment/logger"/>
            </segments>
          </storageProviders>
        </primary>
        <secondary.live>
          <storageProviders hint="list:AddCustomProviders">
            <segments type="Sitecore.ExperienceAnalytics.Client.Deployment.AggregationSegmentStorageProvider, Sitecore.ExperienceAnalytics.Client" singleInstance="true">
              <param ref="experienceAnalytics/deployment/services/secondaryAggregationSegmentRepository"/>
              <param ref="experienceAnalytics/deployment/logger"/>
            </segments>
          </storageProviders>
        </secondary.live>
        <secondary.history>
          <storageProviders hint="list:AddCustomProviders">
            <segments type="Sitecore.ExperienceAnalytics.Client.Deployment.AggregationSegmentStorageProvider, Sitecore.ExperienceAnalytics.Client" singleInstance="true">
              <param ref="experienceAnalytics/deployment/services/secondaryAggregationSegmentRepository"/>
              <param ref="experienceAnalytics/deployment/logger"/>
            </segments>
          </storageProviders>
        </secondary.history>
      </reportingStorageProviders>
    </aggregation>
    <!-- IDefinitionsStorageProvider implementation that supports custom deployable definitions.-->
    <experienceAnalytics>
      <deployment>
        <patch:attribute name="enabled" value="true"/>
        <logger type="Sitecore.ExperienceAnalytics.Core.Diagnostics.Logger, Sitecore.ExperienceAnalytics.Core" singleInstance="true"/>
        <services>
          <!-- AggregationSegmentRepository is responsible for reading/writing data to/from the Segments dimension table in RDB.
               The 'connectionStringName' parameter the name of the connection string of the RDB instance to connect to.
               Default: "reporting"
          -->
          <aggregationSegmentRepository type="Sitecore.ExperienceAnalytics.Aggregation.Repositories.AggregationSegmentLocalSqlRepository, Sitecore.ExperienceAnalytics.Aggregation">
            <param desc="connectionStringName">reporting</param>
            <param desc="logger" ref="experienceAnalytics/deployment/logger"/>
          </aggregationSegmentRepository>

          <!-- secondaryAggregationSegmentRepository is responsible for reading/writing data to/from the Segments dimension table in RDB.
               The 'connectionStringName' parameter the name of the connection string of the RDB instance to connect to.
               Default: "reporting.secondary"
          -->
          <secondaryAggregationSegmentRepository type="Sitecore.ExperienceAnalytics.Aggregation.Repositories.AggregationSegmentLocalSqlRepository, Sitecore.ExperienceAnalytics.Aggregation">
            <param desc="connectionStringName">reporting.secondary</param>
            <param desc="logger" ref="experienceAnalytics/deployment/logger"/>
          </secondaryAggregationSegmentRepository>
        </services>
      </deployment>
    </experienceAnalytics>
  </sitecore>
</configuration>