<!--

Purpose: This include file configures Campaign Creator application.

You should leave this file enabled for the instances where you use Campaign Creator (e. g. Content Management instance).

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- Configure JavaScript sources for Campaign Creator -->
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Applications/CampaignManager" deep="true" category="campaignmanager" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
    </pipelines>
  </sitecore>
</configuration>