<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="delivery">
    <IDTable>
      <param connectionStringName="master" set:connectionStringName="web" />
    </IDTable>
    <databases>
      <database id="master">
        <patch:delete />
      </database>
    </databases>
    <search>
      <configuration>
        <indexes>
          <index id="system">
            <locations>
              <master>
                <patch:delete />
              </master>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
    <scheduling>
      <agent type="Sitecore.Tasks.PublishAgent">
        <patch:delete />
      </agent>
    </scheduling>
    <sites>
      <site name="shell" set:content="web"/>
      <site name="modules_shell" set:content="web" />
    </sites>
  </sitecore>
</configuration>