<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the Outcome tracking module.

In most cases, you should leave this file enabled.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>

      <submitSessionContext>
        <processor type="Sitecore.Analytics.Outcome.Pipelines.SubmitSessionContext.SaveOutcomes, Sitecore.Analytics.Outcome" patch:after="processor[@type='Sitecore.Analytics.Pipelines.SubmitSessionContext.SaveVisit, Sitecore.Analytics']">
          <OutcomeManager ref="outcome/outcomeManager" />
        </processor>
      </submitSessionContext>

      <mergeContacts>
        <processor type="Sitecore.Analytics.Outcome.Pipelines.MergeContacts.MergeOutcomes, Sitecore.Analytics.Outcome" />
      </mergeContacts>

    </pipelines>
  </sitecore>
</configuration>