<?xml version="1.0"?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <AntiCsrf>
      <rules role:require="authoring|publishing|processing|reporting">
        <rule name="shell">
          <ignore contains="/Business Component Library/Layouts/Renderings/Common/SheerUI"/>
        </rule>
      </rules>
    </AntiCsrf>
  </sitecore>
</configuration>