<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <loggingin>
        <processor type="Sitecore.LaunchPad.Pipelines.LoggingIn.LaunchPadStartUrl, Sitecore.LaunchPad" />
      </loggingin>
    </processors>

    <settings>

      <!--  LAUNCHPAD - ENABLED PERSONALIZED FRAMES
            Controls whether to show personalized frames with Experience Analytics charts on the LaunchPad.
            Default: true
      -->
      <setting name="LaunchPad.EnablePersonalizedFrames" value="true"/>
    </settings>
    
  </sitecore>
</configuration>