<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file contains all needed functionality for the language fallback feature on field and item levels.
Note that both item and field level fallback functionality is disabled by default for out of the box 'shell' and 'website' sites.
In order to enable this feature, you will need to set the config patches for those sites to 'true'.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!--  Extending the getFieldValue pipeline allows to enable the field based language fallback functionality -->
      <getFieldValue>
        <processor type="Sitecore.Pipelines.GetFieldValue.IsValidForLanguageFallback, Sitecore.Kernel" patch:before="processor[@type='Sitecore.Pipelines.GetFieldValue.GetStandardValue, Sitecore.Kernel']" />
        <processor type="Sitecore.Pipelines.GetFieldValue.GetLanguageFallbackValue, Sitecore.Kernel" patch:after="processor[@type='Sitecore.Pipelines.GetFieldValue.IsValidForLanguageFallback, Sitecore.Kernel']" />
        <processor type="Sitecore.Pipelines.GetFieldValue.GetLanguageFallbackStandardValue, Sitecore.Kernel" patch:after="processor[@type='Sitecore.Pipelines.GetFieldValue.GetStandardValue, Sitecore.Kernel']" />
      </getFieldValue>

      <!-- If requested item does not have any version, this processor allows to retrieve the item that has at least one version in the fallback language -->
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <getItem>
            <processor type="Sitecore.Pipelines.ItemProvider.GetItem.GetLanguageFallbackItem, Sitecore.Kernel" patch:before="processor[@type='Sitecore.Pipelines.ItemProvider.GetItem.EnforceVersionPresence, Sitecore.Kernel']" />
          </getItem>
          <getVersions>
            <processor type="Sitecore.Pipelines.ItemProvider.GetVersions.GetLanguageFallbackItemVersions, Sitecore.Kernel" />
          </getVersions>
        </pipelines>
      </group>
    </pipelines>

    <!-- EXAMPLE: Override the size of languageFallbackFieldValues cache per database -->
    <!--
    <databases>
      <database id="master">
        <cacheSizes hint="setting">
          <languageFallbackFieldValues>20MB</languageFallbackFieldValues>
        </cacheSizes>
      </database>
      <database id="web">
        <cacheSizes hint="setting">
          <languageFallbackFieldValues>20MB</languageFallbackFieldValues>
        </cacheSizes>
      </database>
    </databases>
    -->

    <!-- LANGUAGE FALLBACK FIELD VALUES
         Language fallback values manager is necessary to retrieve fallback values for the specified field. -->
    <languageFallbackFieldValues defaultProvider="sitecore" patch:after="standardValues">
      <providers>
        <clear/>
        <add name="sitecore" type="Sitecore.Data.LanguageFallback.LanguageFallbackFieldValuesProvider, Sitecore.Kernel" />
      </providers>
    </languageFallbackFieldValues>

    <settings>
      <!--  CACHING - LANGUAGE FALLBACK FIELD VALUES - DEFAULT CACHE SIZE
              Determines the default size of the cache that stores the language fallback field values.
              Specify the value in bytes or append the value with KB, MB or GB.
              
              Default value: 20MB.
      -->
      <setting name="Caching.LanguageFallbackFieldValues.DefaultCacheSize" value="20MB" />
      <!--  LANGUAGE FIELD FALLBACK - ALLOW VARY FALLBACK SETTINGS PER LANGUAGE
              If set to 'true', then values from both versioned 'Enable Language Fallback' and shared 'Enable Shared Language Fallback' checkbox fields
              on the field definition item are used to determine whether language fallback functionality should be enabled for the corresponding field.
              It allows you to have different fallback settings for the same field in different content languages.
              
              Example: when 'en-CA' tries to fallback to 'en', the checkbox field will be retrieved from the field definition item in 'en-CA',
              thus such version should exist. If retrieved value is 'false', then the 'Enable Shared Language Fallback' checkbox field is used.
              
              Note: enabling this feature has negative impact on performance.

              If set to 'false', only the shared 'Enable Shared Language Fallback' checkbox field on the field definition item is used to determine whether
              language fallback functionality should be enabled for the corresponding field.
                                          
              Default value: false.
      -->
      <setting name="LanguageFieldFallback.AllowVaryFallbackSettingsPerLanguage" value="false" />
    </settings>

    <!-- ENABLE ITEM AND LANGUAGE FALLBACK PER SITE
         Using attribute patching below you can pick which fallback mode to enable (item-level or field-level or both) for each site 
         Consult official documentation on how to enable fallback feature in complex multi-site environments.
    -->
    <sites>
      <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">false</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">false</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="enableItemLanguageFallback">false</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">false</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>